
.form-signup{
    margin-top: 9%;
}
.notinoti{
  animation: scale-display .3s;
}

@keyframes scale-display {
	0% {
		opacity: 0;
		transform: scale(0);
    -webkit-transform: scale(0);
	}

	100% {
		opacity: 1;
		transform: scale(1);
    -webkit-transform: scale(1);
	}
}


.srm{
    height: 50px;
    width: 100px;
}

.form-con{
	padding: 25px;
}
.go:hover,
.go:focus {
    cursor: pointer;
}
::-webkit-scrollbar {
	display: none;
  }

