.directions{
  margin-right: 100px;
}

.bdy{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.wrapper{
    position: relative;
    height: 100vh;
}
.bdy .container{
    position: absolute;
    width: 500px;
    height: 500px;
    /* background: #444; */
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}


/* /////// cup //////// */


.night .cup{
    position: absolute;
    width: 100px;
    height: 100px;
    background: #bbb;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
    transform: scale(0.3);
    top: 36%;
    left: 70%;
}

.night .cup::after{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    background: transparent;
    border:10px solid #bbb;
    border-radius: 50%;
    top: 18%;
    left: 75%;
}
.night .cup::before{
    content: "";
    position: absolute;
    width: 100px;
    height: 17px;
    background: #111;
    top: 100%;
}

.normal .cup{
    position: absolute;
    width: 100px;
    height: 100px;
    background: blue;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
    transform: scale(0.3);
    top: 36%;
    left: 69%;
}

.normal .cup::after{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    background: transparent;
    border:10px solid blue;
    border-radius: 50%;
    top: 18%;
    left: 75%;
}
.normal .cup::before{
    content: "";
    position: absolute;
    width: 100px;
    height: 17px;
    background: grey;
    top: 100%;
}


.normal .bdy .table{
    position: absolute;
    width: 400px;
    height: 12px;
    background: linear-gradient(to right, #ffcc66 10%, #ffffcc 100%);
    top: 50%;
    left: 10%;
}
.normal .bdy .table::before{
    content: '';
    position: absolute;
    width: 120px;
    height: 50px;
    background: linear-gradient(to right, #ffcc66 10%, #ffffcc 100%);
    z-index: 1;
    transform: translate(20%,30%)
}
.normal .bdy .table::after{
    content: '';
    position: absolute;
    width: 120px;
    height: 120px;
    background: linear-gradient(to right, #ffcc66 10%, #ffffcc 100%);
    z-index: 1;
    transform: translate(20%,57%)


}


.night .bdy .table{
    position: absolute;
    width: 400px;
    height: 12px;
    background: #bbb;
    top: 50%;
    left: 10%;
}
.night .bdy .table::before{
    content: '';
    position: absolute;
    width: 120px;
    height: 50px;
    background: #bbb;
    z-index: 1;
    transform: translate(20%,30%)
}
.night .bdy .table::after{
    content: '';
    position: absolute;
    width: 120px;
    height: 120px;
    background: #bbb;
    z-index: 1;
    transform: translate(20%,57%)


}

.handle{
    position: absolute;
    width: 3rem;
    height: 0.7rem;
    background: #666;
    z-index: 2;
    left: 15.5%;
}

#handle1{
    top: 2rem;
}
#handle2{
    top: 6rem;
}
.night .tableleg{
  position: absolute;
  width: 20px;
  height: 176px;
  background: #bbb;
  z-index: 1;
  transform: translate(20%,7%);
  display: block;
  right: 1.6rem;
  top:0;
}
.normal .tableleg{
    position: absolute;
    width: 20px;
    height: 176px;
    background: linear-gradient(to right, #ffcc66 10%, #ffffcc 100%);
    z-index: 1;
    transform: translate(20%,7%);
    display: block;
    right: 1.6rem;
    top:0;
}

.normal .screen {
   margin-left: 130px;
	 width: 190px;
	 height: 110px;
	 border-radius:5px;
	 border: 10px solid #202020;
	 background: #171717;
}

.night .screen {
   margin-left: 158px;
	 width: 190px;
	 height: 110px;
	 border-radius:5px;
	 border: 10px solid #202020;
	 background: #171717;
}

 .normal .keyboard {
	 width: 210px;
	 height: 7px;
	 margin-left: 122px;
	 background: linear-gradient(to right, #282828, #444 1%, #232323, #141414, #464646 120%, #000);
	 border-radius: 4px 4px 32px 32px;
	 box-shadow: 6px -18px rgba(17, 17, 17, 0.8);
	 box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.2);
}
.night .keyboard {
  width: 210px;
  height: 7px;
  margin-left: 150px;
  background: linear-gradient(to right, #282828, #444 1%, #232323, #141414, #464646 120%, #000);
  border-radius: 4px 4px 32px 32px;
  box-shadow: 6px -18px rgba(17, 17, 17, 0.8);
  box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.2);
}

 .name_e {
	 color: white;
	 margin-top: 1rem;
   font-size: 25px;
}




.floor{
    position: absolute;
    width: 100%;
    height: 25vh;
    max-height: 200px;
    background:#222;
    bottom: 0;
}


.shelf-wrapper{
    position: relative;
    width: 170px;
    height: 291px;
    background: #646464;
    transform: translate(-50%, -50%);
    top: 40%;
    left: 25%;
}

.shelf1{
    position: absolute;
    width: 140px;
    height: 80px;
    background: #444;
    left: 15px;
    top: 8px;
}
#slantbook{
    position: absolute;
    height: 60px;
    width: 15px;
    background: #999;
    top: 19px;
    left: 36px;
    transform-origin: top;
    transform: rotateZ(-20deg);
}
#flatbook{
    position: absolute;
    width: 60px;
    height: 15px;
    background: #999;
    top: 65px;
    left: 75px;
}
.shelf1::before{
    content: '';
    position: absolute;
    height: 60px;
    width: 15px;
    background: #999;
    top: 18px;
    left: 2px;

}
.shelf1::after{
    content: "";
    position: absolute;
    height: 60px;
    width: 15px;
    background: #999;
    top: 18px;
    left: 19px;

}
.shelf2{
    position: absolute;
    width: 140px;
    height: 80px;
    background: #444;
    left: 15px;
    top: 101px;
}
.shelf2::before{
    content: '';
    position: absolute;
    width: 60px;
    height: 15px;
    background: #999;
    top: 65px;
    left: 3px;
}
.shelf2::after{
    content:"";
    position: absolute;
    width: 60px;
    height: 15px;
    background: #999;
    top: 48px;
    left: 3px;
}
#flatbook3{
    position: absolute;
    width: 60px;
    height: 15px;
    background: #999;
    top: 31px;
    left: 3px;
}
.penstand{
    position: absolute;
    width: 40px;
    height: 36px;
    background: #999;
    top: 43px;
    left: 90px;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
}
.penstand::before{
    content:"";
    position: absolute;
    width: 6px;
    height: 45px;
    background: #999;
    top: -25px;
    left: 25px;
    transform: rotateZ(-25deg);

}
.penstand::after{
    content:"";
    position: absolute;
    width: 6px;
    height: 45px;
    background: #999;
    top: -25px;
    left: 16px;
    transform: rotateZ(20deg);
}
#pen{
    position: absolute;
    width: 6px;
    height: 45px;
    background: #999;
    top: -23px;
    left: 5px;
    transform: rotateZ(-28deg);

}
.shelfknob{
    position: absolute;
    width: 140px;
    height: 80px;
    background: #444;
    left: 15px;
    top: 194px;
}
.shelfknob::before{
    content: '';
    position: absolute;
    width: 63px;
    height: 70px;
    background: #999;
    left: 4px;
    top: 5px;
}
.shelfknob::after{
    content: '';
    position: absolute;
    width: 63px;
    height: 70px;
    background: #999;
    left: 73px;
    top: 5px;
}
.knob{
    position: absolute;
    width: 15px;
    height: 15px;
    background: #444;
    border-radius: 50%;
    top: 30px;
}
#knob1{
    left: 50px;
}
#knob2{
    left: 75px;
    z-index: 1;
}
.lamp{
    position:absolute;
    width: 40px;
    height: 10px;
    background: #333;
    /* transform: translate(-50%, -50%);
    top: 300px;
    left: 200px; */
    top: 48%;
    left: 13%;
}
.lamp::before{
    content: "";
    position: absolute;
    width: 5px;
    height: 50px;
    background: #bbb;
    top: -45px;
    left: -10px;
    transform-origin: top;
    transform: rotateZ(-30deg);
}
.lamp::after{
    content: "";
    position: absolute;
    width: 5px;
    height: 50px;
    background: #bbb;
    top: -103px;
    left: 15px;
    transform-origin: top;
    transform: rotateZ(30deg);
}
#lampjoint{
    position: absolute;
    width: 12px;
    height: 12px;
    background: #333;
    top:-58px;
    left: -15px;
    border-radius: 50%;
}
.lamphead{
    position: absolute;
    width: 35px;
    height: 25px;
    background:linear-gradient(to top left, #ffffcc 17%, #ffcc99 100%);
    top: -100px;
    left: 20px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    transform: rotateZ(-40deg);
}
.lamphead::before{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: #333;
    border-radius: 50%;
    top: -10px;
    left: 10px;

}
.lamphead::after{
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background:linear-gradient(to top left, #ffffcc 17%, #ffcc99 100%);
    border-radius: 50%;
    top: 16px;
    left: 8px;

}


     .normal .window{
         position: absolute;
         width: 250px;
         height: 250px;
         background: linear-gradient(to bottom right, #ffff66 36%, #66ffff 100%);
         transform: translate(-50%, -50%);
         top: 25%;
         left: 75%;
         border: 10px solid #646464;
     }
     .normal .window::before{
         content: "";
         position: absolute;
         width: 5px;
         height: 250px;
         background: #646464;
         left: 50%;
     }
     .normal .window::after{
         content: "";
         position: absolute;
         width: 250px;
         height: 5px;
         background: #646464;
         top: 50%;
     }

.night .window{
    position: absolute;
    width: 250px;
    height: 250px;
    background: linear-gradient(rgba(59, 13, 59, 0.719)10%, rgba(7, 7, 117, 0.733)50%, rgba(6, 0, 29, 0.712) 90%);
    transform: translate(-50%, -50%);
    top: 25%;
    left: 75%;
    border: 10px solid #646464;
}
.night .window::before{
    content: "";
    position: absolute;
    width: 5px;
    height: 250px;
    background: #646464;
    left: 50%;
}
.night .window::after{
    content: "";
    position: absolute;
    width: 250px;
    height: 5px;
    background: #646464;
    top: 50%;
}

.night #moon{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* background: rgba(240, 214, 66, 0.842); */
    box-shadow: 10px 10px rgba(248, 248, 255, 0.582);

}
#sun {
  width: 50px;
  height: 50px;
  background: yellow;
  border-radius: 50%;
  box-shadow: 0 0 10px orange;
  display: block;
  width: 100px;
  height: 100px;
  z-index: 99;
}



#Awesome{
	position: relative;
	width: 180px;
	height: 180px;
	margin: 0 auto;
  backface-visibility: hidden;
}

#Awesome .sticky{
	transform: rotate(40deg);
}

#Awesome .sticky{
	position: absolute;
	top: 0;
	left: 0;
	width:180px;
	height: 180px;
}
#Awesome .circle_wrapper{
	position: absolute;
	width: 180px;
	height: 180px;
	left: 0px;
	top: 0px;
	overflow: hidden;
}

#Awesome .circle{
	position: absolute;
	width: 140px;
	height:  140px;
	margin: 20px;

	border-radius: 999px;
}


#Awesome .front{
	height: 150px;
	bottom: 0;
	top: auto;

	-webkit-box-shadow: 0 -140px 20px -140px rgba(0,0,0,.3);
}

.normal #Awesome .front .circle{
	margin-top: -10px;
	background: linear-gradient(to top left, #99ccff 17%, #ff66cc 100%);

}
.night #Awesome .front .circle{
	margin-top: -10px;
	background:linear-gradient(to bottom right, #ff99cc 17%, #66ffff 100%);
}

#Awesome h6{
  font-family: 'Exo 2', sans-serif;
  color: black;
  font-weight: 200;
  text-align: center;
	position: absolute;
	width: 180px;
	height: 140px;
  line-height: 140px;
}


.normal{
  animation: scale1 1s ease-in-out 1 forwards;
  background: linear-gradient(to right, #999966 10%, #ffff66 100%);
}
.night {
  background:#555555;
  animation: scale 1s ease-in-out 1 forwards;
}

@keyframes scale{
0% {
    opacity:0.5;
}
100% {
    opacity:1;
}
}
@keyframes scale1{
0% {
    opacity:0.5;
}
100% {
    opacity:1;
}
}



 #light-switch:checked ~ #light-switch-label .switch:before {
   content: 'ON';
   display: block;
   position: absolute;
   width: 50px;
   top: 5px;
    border-radius: 5px 5px 0 0;
    height: 70px;
    line-height: 70px;
    background: #efe0b1;
    color: #64bf60;
}
 #light-switch-label {
	 position: relative;
	 display: block;
	 width: 20px;
	 z-index: 1;
   margin-left: 10px;
   margin-top: 5px;
	 background-color: #fff4d3;
	 border-radius: 10px;
}
 #light-switch-label .switch {
	 cursor: pointer;
	 height: 70px;
	 width: 45px;
	 background: #fffaea;
	 position: absolute;
	 border-radius: 5px;
	 overflow: hidden;
	 box-shadow: 0 10px 10px -5px rgba(233, 219, 176, 0), 0 0 0 1px rgba(0, 0, 0, .1), 0 0 0 4px #fff4d3, 0 0 0 5px rgba(0, 0, 0, .1);
}
 #light-switch-label .switch:before {
  	 content: 'OFF';
  	 display: block;
  	 position: absolute;
  	 text-align: center;
  	 width: 50px;
  	 bottom: 5px;
  	 left: 0;
    border-radius: 0 0 5px 5px;
    height: 70px;
    line-height: 70px;
    background: #fffaea;
    box-shadow: 0 5px 0 #d0b57b;
    color: red;
}
