
.fac{
    background-color: #2865aa;
    color: white;
    padding: 1% !important;
    font-size: 30px;
}

.stu{
  background-color: #21a656;
    color: white;
    padding: 1% !important;
    font-size: 30px;
    
}

.contain {
  position: relative;
  width: 100%;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #303841;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
  
}

.contain:hover .overlay {
  bottom: 0;
  height: 100%;
}

.fac-highlight{
  background-color: #303841;
  padding: 20px;
  border-radius: 0 5px 5px 0;
  color: white;
  height: 500px;
}
.stu-highlight{
  background-color: #303841;
  padding: 20px;
  border-radius: 5px 0 0 5px;
  color: white;
  height: 500px;
}
.contact{
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  background-color: #303841;
  color: white;
  padding: 20px;
}

.text {
  margin-top: 1%;
  color: white;
  font-weight: 500;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  cursor: pointer;

}

