@import url('https://fonts.googleapis.com/css?family=Cairo|Cinzel|Exo|Exo+2|Orbitron|Play|Poiret+One|Questrial|Quicksand|Rokkitt|Tinos');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
  margin: 0;
  padding: 0;
  font-family: 'Play', sans-serif;
}
/* ---------------------ABOUT  CONTENT ---------------------- */
.ab-head{
  padding: 7px;
  border: 1px solid #dadada;
  border-radius: 50px;
  background: #303841ed;
  color: white;
  font-size: 20px;
  margin-top: 7%;

}

.ab-content{
  padding: 20px;
  font-size: 18px;
  text-align: justify;
  margin-top: 2%;
}

/* ----------------------END OF ABOUT CONTENT------------------ */

.over{
  z-index: 999;
}

.droppp {
  position: relative;
}
.droppp:hover,
.droppp:focus {
    cursor: pointer;
}
.droppp ul {
  width: 220px;
  position: absolute;
  right: -7px;
  top: 0.2em;
  z-index: 999;
  border-radius: 25px;
  background-color: white;
  transition: all 0.3s ease;
  -webkit-transform: scale(30);
          transform: scale(0);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 8px 0 rgba(0, 0, 0, 0.12);
}
.droppp ul li {
  display: block;
  width: 100%;
  height: 50px;
}
.droppp ul li a {
  color: black;
  width: 100%;
  display: inline-block;
  white-space: pre;
  box-sizing: border-box;
  height: 50px;
  border-radius: 25px;
}
.droppp ul li a:hover {
  background: #ebebeb;
  color: black;
}
.droppp:hover ul {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.login-sign{
  margin-right: 140px;
}

/*------------------------------------End of Error Message*/
.form-con{
    padding:25px;
    margin-top: -15px;
}
.form-signup{
    border: 1px solid #dadada;
    margin-top: 4%;
    padding: 25px;
    box-shadow: 0px 0px 4px 0px rgba(186, 186, 186, 0.75);
    border-radius: 10px;
    background-color: #ffffffdb;
}
.particular{
    padding: 2px;
    box-shadow: 0px 0px 4px 0px rgba(186, 186, 186, 0.75);
    border-radius: 5px;
}

.div-style{
    padding: 6px;
    box-shadow: 0px 0px 4px 0px rgba(186, 186, 186, 0.75);
    border-radius: 5px;
}
.highlight{
    padding: 8px;
    color: white;
    border-radius: 10px 10px 0px 0px;
    font-family: 'Orbitron', sans-serif;
}
.but{
    margin-top:20px;
    text-align: center;
    color:brown;
    font-family: 'Exo', sans-serif;
}
.srm{
    height: 70px;
    width: 100px;
}
.logout{
  height: 40px;
  width: 50px;
  margin-top: 15px;
}
.log{
    font-size: 18px;
    font-family: 'Exo 2', sans-serif;
    color:blue;
}
.con{
  font-family: 'Cinzel', serif;
  font-size: 30px;
}
.forgohead{
  font-size: 30px;
  font-family: 'Exo 2', sans-serif;
  color:#EB127E;
}
.ppo{
  color:black;
  font-size: 20px;
  font-family: 'Play', sans-serif;
}
.alignfull{
  width: 100%;
  margin-top: 10px;
}
.mine-collap{
  border-radius: 30px;
  background:linear-gradient(to bottom, #ff99cc 0%, #000066 90%);
  color: yellow;
}
.men{
  margin-left: 10px;
  margin-right: 20px;
}

/*---------------------------------------------End of Input and textareas design*/
.headings{
  width: 100%;
  font-size: 20px;
}
.colsp{
  margin-left: 50px;
}
.spanh{
  height: 50px;
  width: 100%;
  font-family: 'Orbitron', sans-serif;
}
.area{
  width: auto;
  height: 500px;
  overflow: hidden;
}
.remove{
  margin-top: 45px;
}
.subm{
  margin-right: 60px;
}
.uploadalignB{
 margin-left: 70px;
 margin-bottom: 20px;
}
.dropdown-content {
  background-color: #FFFFFF;
  margin: 0;
  display: none;
  min-width: 300px; /* Changed this to accomodate content width */
  max-height: auto;
	margin-left: -1px; /* Add this to keep dropdown in line with edge of navbar */
  overflow: hidden; /* Changed this from overflow-y:auto; to overflow:hidden; */
  opacity: 0;
  position: absolute;
  white-space: nowrap;
  z-index: 1;
  will-change: width, height;
}
.move{
  color: white;
  margin-top: 10px;
  margin-left: 10px;

}
.drop{
  margin-top: 25px;
}

/*-------------------------------------------------------------------------------Home-Page Design */
.imgf{
    height: 482px;
    margin-top: 30px;
    margin-left: 70px;
}
.fstyle{
    background-color: #455a64;
    color: white;
    margin-top: 30px;
    padding-top: 50px;
    padding-bottom: 102px;
    border-radius: 10px;
    width: 100%;
}

.ework_name{
  font-family: 'Play' , sans-serif;
  display: block;
  font-size: 50px;
  line-height: 6px;
  color: #E7204F;

  letter-spacing: 1px;
}
.fpara{
    padding: 0 80px;
    font-size: 20px;
}
.fprivacy{
    color: white;
    font-size: 15px;
    margin-top: 50px;
}

  /*-----------------------------------------Profile Related CSS */


                      /*----------------After 1 Login Profile Page------------------------- */



.proftitle{
  display: block;
  color: #E7204F;
  letter-spacing: 1px;
}
.prof-heading{
  font-family: 'Orbitron', sans-serif;
  padding-top: 10px;
  height: 50px
}
/*----------------------------------------------------------------End of 1 Page wala Login */

/*-----------------------------------------Start of Fix Profile Page-------------------------------- */

.tcr{
  display: block;
  line-height: 6px;
  color: blue;
  letter-spacing: 1px;
  font-size: 15px;
}
.prof-submit{
  margin-bottom: 20px;
  margin-right: 20px;

}
/*--------------------------------End of Fixx Profile CSS-------------------------------------------*/




/*--------------------------------------Time Table CSS------------------------------------------------- */
.time-div{
  padding: 20px;
  background-color: #E7F7F5;

}
.day-order-day{
  font-family: 'Play' , sans-serif;
  color: blue;
  text-shadow: 0 9.36px 3.896px #c4b59d,0 0px 0.2px #fff;
  letter-spacing: 1px;
  font-size: 14px;
  text-transform: uppercase;
}
.def-reg{
  font-size: 30px;
  font-family: 'Play' , sans-serif;
  margin-top: 140px;
}
.inter-drop{
  font-size: 20px;
  font-family: 'Play' , sans-serif;
  margin-bottom: 20px;
}
.btn-of-submit-at-time{
margin-bottom: 8px;
}
.free-head{
  font-family: 'Exo 2' , sans-serif;
  color: green;
}
.date{
  font-family: 'Play' , sans-serif;
  font-size: 15px;
  color: red;
}
.day_order{
  margin-top: 150px;
  font-size: 30px;
  font-family: 'Orbitron', sans-serif;
  color: #900C3F;
}

.reset-pass-box{
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 170px;
}
.card-reset{
  height: 220px;
}
.btn-reset{
  margin-left: 200px;
}

.modal{
  border-radius: 10px;
}

.mobmodal{
  position: fixed;
  top:  0;
  left: 0;
  right: 0;
  bottom:0;
  margin-bottom:120px;
  background-color: #fafafa;
  padding: 0;
  margin: auto;
  overflow-y: auto;
  border-radius: 2px;
  height: 100%;
  z-index:999;
  background-size:cover;
}
.instructionmodal{
    z-index: 50;
    position: fixed;
    overflow: auto;
}
.float_cancel{
  z-index: 25;
  top: 0;
}
.go:hover,
.go:focus {
    cursor: pointer;
}
/* -----------------------------------------------------Master TimeTable--------------------------------------------*/
.masterprog{
  background-color: white;
  border-right: 1px solid;
  border-left: 1px solid;
  border-bottom: 1px solid;
  border-top: 1px solid;
}


.notinoti{
  position: fixed;
  left: 0;
  right: 0;
  top:0;
  background-color: #fafafa;
  padding: 0;
  margin: auto;
  overflow-y: auto;
  border-radius: 2px;
  will-change: top, opacity;
  width: 100%;
  height: 100%;
  z-index:999;
  background-position: center top;
  background-size:cover;
  animation: scale-display .3s;
}

@keyframes scale-display {
	0% {
		opacity: 0;
		transform: scale(0);
    -webkit-transform: scale(0);
	}

	100% {
		opacity: 1;
		transform: scale(1);
    -webkit-transform: scale(1);
	}
}

.notinoti a{
  color:black;
}

.popup_over{
  position: fixed;
  padding: 0;
  margin: auto;
  z-index:999;
  background-position: center top;
  background-size:cover;
  overflow-y: auto;
}

.cover{
background-color: rgba(0,0,0,0.5);
width:100%;
height: 100%;
position: fixed;
left: 0;
right: 0;
top:0;
padding: 0;
margin: auto;
z-index:999;
background-position: center top;
background-size:cover;
}
/*in-use*/
.dig{
  position: fixed;
  left: 0;
  right: 0;
  padding: 0;
  margin: auto;
  overflow-y: auto;
  z-index:999;
}
/*in-use*/
.float-left{
  width: 40px;
  position: fixed;
  left: 0;
  padding: 4px;
  margin: auto;
  overflow-y: auto;
  z-index:999;
}
.float-right{
  width: 100px;
  position: fixed;
  right: 0;
  padding: 8px;
  margin: auto;
  overflow-y: auto;
  z-index:400;
}
.snav
{
  left: 0;
  right: 0;
  color:white;
  padding: 0;
  margin: auto;
  overflow-y: auto;
  width: 150px;
  height: 100%;
  z-index:999;
  background-position: center top;
}

.active-pressed{
  border: 1px solid #dadada;
  border-radius: 50px;
  height: 30px;
}

.display-style{
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    letter-spacing: .01785714em;
    font-size: .930rem;
    font-weight: 500;
    padding: 12px 24px;
    border-radius: 0 24px 24px 0;
    animation: scale-display .3s;
}


.hover-effect:hover {
  color:#900C3F;
}

.dotted {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.over-off{
    font-size: .875rem;
    letter-spacing: .2px;
    border-radius: 4px;
    line-height: 40px;
    max-height: 600px;
    width: 150px;
    overflow: auto;
    margin-top: 45px;
    position: absolute;
}
.ework-color{
  color:#455a64;
}

.styled-btn{
  align-items: center;
display: inline-flex;
justify-content: center;
outline: none;
position: relative;
border-radius: 4px;
color: #5f6368;
cursor: pointer;
height: 36px;
box-shadow: inset 0 0 0 1px #dadce0;
min-width: 104px;
}

.cr{
    border: none;
    border-left:1px solid hsla(200, 10%, 50%,100);
    height:80vh;
    width:1px;
}
#go-to-top {
     z-index: 999;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#go-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 11px;
    top: 11px;
    font-size: 29px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#go-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#go-to-top:hover i {
    color: #fff;
    top: 5px;
    cursor: pointer;
}
.pad {
	 width: 200px;
}
.animat {
  animation-duration: 2.5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
  40% {transform: translateY(-30px);}
  60% {transform: translateY(-15px);}
}
.bounce {
  animation-name: bounce;
}
.bounce:hover{
  animation-name: none;
}
.anit{
  animation: scale-display .3s;
}
.cover_all{
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top:0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0;
  margin: auto;
  overflow-y: auto;
  border-radius: 2px;
  will-change: top, opacity;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-position: center top;
  background-size: cover;
}
.up{
  width: 60%;
  min-height: 100px;
  z-index: 999 !important;
  position: absolute !important;
  box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2);
  top: 5%;
  left: 21%;
  background: white;
  border-radius: 10px;
  animation: scale-display .3s;
}
.elg{
  color: #131313;
  letter-spacing: .13em;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 32px;
  text-transform: uppercase;
}

 .pagination-controls__button {
	 background-color: white;
	 border-radius: 0.15em;
	 box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
	 cursor: default;
	 margin: 0 0.25em;
	 padding: 0.5em 0.75em;
}

/*Error Page CSS------*/

.button-home{
    background-color: #888;
    color: white;
    padding: 10px;
    border: 0;
    border-radius: 20px
}
.button-home:hover{
    transition: all 0.6s;
    transform: scale(1.3);
    cursor: pointer;

}
.error-img{
    margin-top: 10%;
    text-align: center;
}
.error-image{
    height: 200px;
    widows: 200px;
}

.fof{
    text-align: center;
}

.fof h1{
	  font-size: 50px;
	  display: inline-block;
	  padding-right: 12px;
	  animation: type .5s alternate infinite;
}

@keyframes type{
	  from{box-shadow: inset -3px 0px 0px #888;}
	  to{box-shadow: inset -3px 0px 0px transparent;}
}

/* ----------------PDF-------------------- */



.resume-mhead{
  font-size: 12px;
  text-align: center;
}

.resume-table{
  /* margin-top: -2%; */
    margin-bottom: 3%;
}
.resume-table{
  font-size: 10px;
}
.resume-contains{
  margin-bottom: 2%;
}
.resume-td-ch{
  padding: 1px !important;
}
.resume-gen{
  font-size: 10px;
}

.resume-table-head{
  font-size:10px;
  margin-bottom: 0px;
}

.resume-def{
  margin-bottom: 0px;
}

.resume-table-content{
  font-size: 10px;
}

.resume-htitle{
  font-size: 16px;
  margin-top: -40px;
}
.resume-wat{
  font-size: 8px;
}

.resume-date{
  font-size: 8px;
}

.resume-logo{
  margin-top: -20px;
  height: 50px;
  width: 80px;
}

.resume-p{
  font-size: 15px;
}

section.resume-pdf-body {
  padding: 8px;
  height: 100%;
  margin: 8px;
  font-family: 'Times New Roman', Times, serif;
}

.resume-flex-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.resume-flex-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.resume-flex {
  /* flex: 1 1 auto; */
  margin-top: -10px;
  font-size: 20px;
}

.resume-input,
.resume-textarea {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 8px;
  margin: 4px;
}

section.resume-header-bar {
  padding: 16px;
  background-color: #eee;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

section.resume-header-bar .resume-header {
  font-size: 1.2em;
}

section.resume-pdf-toolbar {
  padding: 16px;
}

section.resume-pdf-toolbar button {
  background-color: white;
  border: 1px solid #555;
  padding: 8px;
  border-radius: 3px;
  cursor: pointer;
}

section.resume-pdf-toolbar button:hover,
section.resume-pdf-toolbar button:focus {
  transition: 0.3s;
  border: 1px solid #333;
  color: white;
  background-color: #3f51b5;
}

.resume-profile-image{
  height: 50px;
  width: 50px;
}
