




.logo-auv{
	position: fixed;
    z-index: 1;
    width: 20%;
    height: 16%;
    top: 1%;
	left: 1%;
    border-radius: 31px;
}

.a-head{
	position: absolute;
    color: #ffffffcf;
    z-index: 1;
    left: 22%;
    top: 11%;
    font-size: 100px;
    font-weight: bolder;
    font-family: Candal;
}

.type{
	position: absolute;
    z-index: 1;
    left: 22%;
    top: 33%;
    color: #ffffffcf;
    font-family: Candal;
    font-size: 50px;
}

.pos_fix{
	position: fixed;
	top: -28px;
}

.nav_fix{
	transition: 1s;
	position: fixed !important;
	top: 3%;
}

.pos_abs{
	position: absolute;
}

  .button {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.8);
	background: rgb(145, 92, 182);
	padding: 15px 40px;
	border-radius: 4px;
	font-weight: normal;
	text-transform: uppercase;
	transition: all 0.2s ease-in-out;
  }
  
  .glow-button:hover {
	color: rgba(255, 255, 255, 1);
	box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
  }

  .navigation__link{
	  padding: 10px;
  }

  .menu {
	z-index: 1;
	width: 100%;
	margin-top: -2%;
    height: 75px;
    background-color: #1d2024;
    /* position: fixed; */
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.light-menu {
    width: 100%;
    height: 75px;
    background-color: rgba(255, 255, 255, 1);
    /* position: fixed; */
    background-color:rgba(4, 180, 49, 0.6);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.menu-ce ul li{
	margin: 20px;
	list-style: none;
    display: inline;
}
.menu-ce ul li a:hover{
	color: #57cbcc;
	 
}
.active {
	
	transition: 0.6s linear;
	font-weight: bolder;
	font-family:'Droid Sans', serif;
    font-size: 20px;
	color: #57cbcc !important;
	border-left: 1px solid #57cbcc;
	border-right: 1px solid #57cbcc;
	padding: 10px;
    text-decoration: none;
    line-height: 50px;
}
.menu-ce ul li a {
    font-family:'Droid Sans', serif;
    font-size: 20px;
    color: #737f8a;
    text-decoration: none;
    line-height: 50px;
}
#home {
	background-image: url(./components/Home/homeback1.jpg);
    height: 888px;
    width: 100%;
	overflow: hidden;
}
#portfolio {
	background-color: red;
    height: 1800px;
    width: 100%;
}
#sponsor{
	padding-top: 7%;
	padding-bottom: 3%;
}
#about {
    background-color: blue;
    height: 100%;
    width: 100%;
}
#contact {
    background-color: red;
    height: 100%;
    width: 100%;
}

.nav-logo{
	height: 80px;
    margin-top: 2%;
    margin-left: 3%;
}
.nav-l{
	display: none;
}

.arrows {
	z-index: 1;
	width: 60px;
	height: 72px;
	position: absolute;
	left: 50%;
	margin-left: -30px;
	bottom: 20px;
}

.arrows path {
	stroke: white;
	fill: transparent;
	stroke-width: 3px;	
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {	
	animation-delay:0s;
	-webkit-animation-delay:0s; /* Safari 和 Chrome */
}
.mmenu {
	font-size: 15px;
	margin-top: 30px;
	text-transform: uppercase;
	color: #737f8a;
	display: inline-block;
	cursor: pointer;
	pointer-events: none;
	position: absolute;
	
  }
  .mmenu:hover {
	  
	pointer-events: all;
  }
  .mmenu a{
	  color: #737f8a !important;
  }
  .label {
	color: #737f8a;
	display: inline-block;
	cursor: pointer;
	pointer-events: all;
  }
  .label:hover{
	color: #57cbcc;
  }
  .spacer {
	display: inline-block;
	width: 80px;
	margin-left: 15px;
	margin-right: 15px;
	vertical-align: middle;
	cursor: pointer;
	position: relative;
  }
  .spacer:before {
	content: "";
	position: absolute;
	border-bottom: 1px solid #ffffff;
	height: 1px;
	width: 0%;
	transition: width 0.25s ease;
	transition-delay: 0.7s;
  }
  .item {
	position: relative;
	display: inline-block;
	margin-right: 15px;
	top: 10px;
	opacity: 0;
	transition: opacity 0.5s ease, top 0.5s ease;
	transition-delay: 0;
  }
  span {
	transition: color 0.5s ease;
  }
  .item:hover span {
	color: #57cbcc;
  }
  .mmenu:hover .spacer:before {
	width: 100%;
	transition-delay: 0s;
  }
  .mmenu:hover .item {
	opacity: 1;
	top: 0px;
  }
  .item:nth-child(1) {
	transition-delay: 0.45s;
  }
  .item:nth-child(2) {
	transition-delay: 0.4s;
  }
  .item:nth-child(3) {
	transition-delay: 0.35s;
  }
  .item:nth-child(4) {
	transition-delay: 0.3s;
  }
  .item:nth-child(5) {
	transition-delay: 0.25s;
  }
  .item:nth-child(6) {
	transition-delay: 0.2s;
  }
  .item:nth-child(7) {
	transition-delay: 0.15s;
  }
  .item:nth-child(8) {
	transition-delay: 0.1s;
  }
  .item:nth-child(9) {
	transition-delay: 0.05s;
  }
  .item:nth-child(10) {
	transition-delay: 0s;
  }
  .mmenu:hover .item:nth-child(1) {
	transition-delay: 0.25s;
  }
  .mmenu:hover .item:nth-child(2) {
	transition-delay: 0.3s;
  }
  .mmenu:hover .item:nth-child(3) {
	transition-delay: 0.35s;
  }
  .mmenu:hover .item:nth-child(4) {
	transition-delay: 0.4s;
  }
  .mmenu:hover .item:nth-child(5) {
	transition-delay: 0.45s;
  }
  .mmenu:hover .item:nth-child(6) {
	transition-delay: 0.5s;
  }
  .mmenu:hover .item:nth-child(7) {
	transition-delay: 0.55s;
  }
  .mmenu:hover .item:nth-child(8) {
	transition-delay: 0.6s;
  }
  .mmenu:hover .item:nth-child(9) {
	transition-delay: 0.65s;
  }
  .mmenu:hover .item:nth-child(10) {
	transition-delay: 0.7s;
  }
  /* For Mobile */

  @media only screen and (max-width: 600px) {
	.logo-auv{
    	border-radius: 31px;
		position: absolute;
		z-index: 1;
		width: 100px;
		height: 50px;
		top: 1%;
		left: 1%;
	}
	.type {
		position: absolute;
		z-index: 1;
		left: 110px;
		top: 11%;
		color: #ffffffcf;
		font-family: Candal;
		font-size: 30px;
	}
	.a-head{
		position: absolute;
		color: #ffffffcf;
		z-index: 1;
		left: 110px;
		top: 4%;
		font-size: 35px;
		font-weight: bolder;
		font-family: Candal;
	}
	.arrows{
		display: none;
	}
	
}

.tag-head{
	font-weight: bolder;
}

.box {
	position: relative;
	padding: 5px;
	display: inline-block;
	width: 280px;
	height: 150px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	-webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  
  .box::after {
	content: "";
	border-radius: 5px;
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
	opacity: 0;
	-webkit-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  
  .box:hover {
	-webkit-transform: scale(1.15, 1.15);
	transform: scale(1.15, 1.15);
  }
  
  .box:hover::after {
	  opacity: 1;
  }
  

/* .type p{
	background-color: #638decc7;
    padding: 10px;
    border-radius: 0 50px 50px 0
} */
/* .form-signup{
    margin-top: 9%;
}
.notinoti{
  animation: scale-display .3s;
}

.carousel-h{
	height: 450px;
}

.tabs-wrapper {
	min-height: 48px;
}
.tabs-wrapper .tabs-fixed {
	position: fixed;
	width: 100%;
	top: 0px;
}
#myBtn {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	font-size: 18px;
	border: none;
	outline: none;
	background-color: red;
	color: white;
	cursor: pointer;
	padding: 15px;
	border-radius: 4px;
  }
  #myBtn:hover {
	background-color: #555;
  }
.tabs {
	transition: background-color 0.2s linear;
}
@keyframes scale-display {
	0% {
		opacity: 0;
		transform: scale(0);
    -webkit-transform: scale(0);
	}

	100% {
		opacity: 1;
		transform: scale(1);
    -webkit-transform: scale(1);
	}
}


* {
	transition: all 500ms ease-out;
	-webkit-transition: all 500ms ease-out;
  }
   */
  /* html, body, section, .page {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	transition: all 1s cubic-bezier(.5, -0.005, 0.2, 1) !important;
	-webkit-transition: all 1s cubic-bezier(.5, -0.005, 0.2, 1) !important;
	color: #fff;
	background: #374046;
	overflow: hidden;
  }
  
  section {
	width:400%;  
  }
  
  .page {
	position: absolute;
  }
  
  #p1 {
	left: 0;
  }
  
  #p2 {
	left: 100%;
	background: #FF5722;
  }
  
  #p3 {
	left: 200%;
	background: #593C1F;
  }
  
  #p4 {
	left: 300%;
	background: deeppink;
  }
  
  ul {
   position: fixed; 
   z-index: 1;
  }
  #t1:target .page#p1 {
	  transform: translateX(0);
  }
  #t2:target .page#p2 {
	  transform: translateX(-90%);
  }
  #t3:target .page#p3 {
	  transform: translateX(-190%);
  }
  #t4:target .page#p4 {
	  transform: translateX(-290%);
  }
  
  #t2:target .page#p1, 
  #t3:target .page#p1,
  #t4:target .page#p1 {
	background: black;
  }
  
  #t2:target .page#p1 .icon, 
  #t3:target .page#p1 .icon,
  #t4:target .page#p1 .icon {
	-webkit-filter: blur(3px);
	filter: blur(3px);
  }
  
  .icon {
	color: #fff;
	font-size: 32px;
	display: block;
  }
  
  ul .icon:hover {
	opacity: 0.6;
  }
  
  #p1 .icon .title {
	margin-bottom: 20px;
  }
  
  #t2:target ul .icon,
  #t3:target ul .icon,
  #t4:target ul .icon {
	transform: scale(.6); 
	transition-delay: .25s;
  }
  
  #t2:target #dos {
	transform: scale(1.2) !important;
  }
  
  #t3:target #tres {
	transform: scale(1.2) !important;
  }
  
  #t4:target #cuatro {
	transform: scale(1.2) !important;
  }
  
  ul {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	height: 280px;
	width: 10%;
	padding: 0;
	text-align: center;
   }
  
  ul li {
	margin: 30px 0;
  }
  
  a {
	text-decoration: none;
	font-family: open sans, sans-serif;
  }
  
  .title, .hint {
	font-family: open sans, sans-serif;
	display: block;
  }
  
  .title {
	font-size: 38px;
  }
  
  .hint {
	font-size: 13px;
  }
  
  .hint a {
	color: #EFFF06;
	transition: all 250ms easet-out;
  }
  
  .hint a:hover {
	color: #FFF;
  }
  
  .page .icon {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 10%;
	left: 0;
	width: 270px;
	height: 170px;
	margin: auto;
	text-align: center;
	font-size: 80px;
	transform: translateX(360%);
	line-height: 1.3;
  }
  
  .page#p1 .icon {
	height: 220px;
  }
  
  .page#p1 .icon {
	transform: translateX(0) !important;
  }
  
  #t2:target .page#p2 .icon {
	transform: translateX(0) !important;
	transition-delay: 1s;
  }
  
  #t3:target .page#p3 .icon {
	transform: translateX(0) !important;
	transition-delay: 1s;
  }
  
  #t4:target .page#p4 .icon {
	transform: translateX(0) !important;
	transition-delay: 1s;
  }
  
  .credit{
	  position: absolute;
	  bottom: 0;
	  width: 100%;
	  text-align: center;
	  font-size: 10px;
  }
  
  .credit a {
	  color: #fff
  }
  
  
  
   */



   @import "https://fonts.googleapis.com/css?family=Raleway:400,300,200,500,600,700";
   .fa-spin-fast {
	 -webkit-animation: fa-spin-fast 0.2s infinite linear;
	 animation: fa-spin-fast 0.2s infinite linear;
   }
   @-webkit-keyframes fa-spin-fast {
	 0% {
	   -webkit-transform: rotate(0deg);
	   transform: rotate(0deg);
	 }
	 100% {
	   -webkit-transform: rotate(359deg);
	   transform: rotate(359deg);
	 }
   }
   @keyframes fa-spin-fast {
	 0% {
	   -webkit-transform: rotate(0deg);
	   transform: rotate(0deg);
	 }
	 100% {
	   -webkit-transform: rotate(359deg);
	   transform: rotate(359deg);
	 }
   }
   .team-details .material-card {
	 position: relative;
	 height: 0;
	 padding-bottom: calc(100% - 16px);
	 margin-bottom: 6.6em;
   }
   .team-details .material-card h2 {
	 position: absolute;
	 top: calc(100% - 16px);
	 left: 0;
	 width: 100%;
	 padding: 10px 16px;
	 color: #fff;
	 font-size: 1.4em;
	 line-height: 1.6em;
	 margin: 0;
	 z-index: 10;
	 -webkit-transition: all 0.3s;
	 -moz-transition: all 0.3s;
	 -ms-transition: all 0.3s;
	 -o-transition: all 0.3s;
	 transition: all 0.3s;
   }
   .team-details .material-card h2 span {
	 display: block;
   }
   .team-details .material-card h2 strong {
	 font-weight: 400;
	 display: block;
	 font-size: 0.8em;
   }
   .team-details .material-card h2:before,
   .team-details .material-card h2:after {
	 content: ' ';
	 position: absolute;
	 left: 0;
	 top: -16px;
	 width: 0;
	 border: 8px solid;
	 -webkit-transition: all 0.3s;
	 -moz-transition: all 0.3s;
	 -ms-transition: all 0.3s;
	 -o-transition: all 0.3s;
	 transition: all 0.3s;
   }
   .team-details .material-card h2:after {
	 top: auto;
	 bottom: 0;
   }
   @media screen and (max-width: 767px) {
	 .material-card.mc-active {
	   padding-bottom: 0;
	   height: auto;
	 }
   }
   .team-details .material-card.mc-active h2 {
	 top: 0;
	 padding: 10px 16px 10px 90px;
   }
   .team-details .material-card.mc-active h2:before {
	 top: 0;
   }
   .team-details .material-card.mc-active h2:after {
	 bottom: -16px;
   }
   .team-details  .material-card .mc-content {
	 position: absolute;
	 right: 0;
	 top: 0;
	 bottom: 16px;
	 left: 16px;
	 -webkit-transition: all 0.3s;
	 -moz-transition: all 0.3s;
	 -ms-transition: all 0.3s;
	 -o-transition: all 0.3s;
	 transition: all 0.3s;
   }
   .team-details .material-card .mc-btn-action {
	 position: absolute;
	 right: 16px;
	 top: 15px;
	 -webkit-border-radius: 50%;
	 -moz-border-radius: 50%;
	 border-radius: 50%;
	 border: 5px solid;
	 padding: 6px;
	 width: 54px;
	 height: 54px;
	 line-height: 44px;
	 text-align: center;
	 color: #fff;
	 cursor: pointer;
	 z-index: 20;
	 -webkit-transition: all 0.3s;
	 -moz-transition: all 0.3s;
	 -ms-transition: all 0.3s;
	 -o-transition: all 0.3s;
	 transition: all 0.3s;
   }
   .team-details .material-card.mc-active .mc-btn-action {
	 top: 62px;
   }
   .team-details .material-card .mc-description {
	 position: absolute;
	 top: 100%;
	 right: 30px;
	 left: 30px;
	 bottom: 54px;
	 overflow: hidden;
	 opacity: 0;
	 filter: alpha(opacity=0);
	 -webkit-transition: all 1.2s;
	 -moz-transition: all 1.2s;
	 -ms-transition: all 1.2s;
	 -o-transition: all 1.2s;
	 transition: all 1.2s;
   }
   .team-details .material-card .mc-footer {
	 height: 0;
	 overflow: hidden;
	 -webkit-transition: all 0.3s;
	 -moz-transition: all 0.3s;
	 -ms-transition: all 0.3s;
	 -o-transition: all 0.3s;
	 transition: all 0.3s;
   }
   .team-details .material-card .mc-footer h4 {
	 position: absolute;
	 top: 200px;
	 left: 30px;
	 padding: 0;
	 margin: 0;
	 font-size: 16px;
	 font-weight: 700;
	 -webkit-transition: all 1.4s;
	 -moz-transition: all 1.4s;
	 -ms-transition: all 1.4s;
	 -o-transition: all 1.4s;
	 transition: all 1.4s;
   }
   .team-details .material-card .mc-footer a {
	 display: block;
	 float: left;
	 position: relative;
	 width: 52px;
	 height: 52px;
	 margin-left: 5px;
	 margin-bottom: 15px;
	 font-size: 28px;
	 color: #fff;
	 line-height: 52px;
	 text-decoration: none;
	 top: 200px;
   }
   .team-details  .material-card .mc-footer a:nth-child(1) {
	 -webkit-transition: all 0.5s;
	 -moz-transition: all 0.5s;
	 -ms-transition: all 0.5s;
	 -o-transition: all 0.5s;
	 transition: all 0.5s;
   }
   .team-details .material-card .mc-footer a:nth-child(2) {
	 -webkit-transition: all 0.6s;
	 -moz-transition: all 0.6s;
	 -ms-transition: all 0.6s;
	 -o-transition: all 0.6s;
	 transition: all 0.6s;
   }
   .team-details .material-card .mc-footer a:nth-child(3) {
	 -webkit-transition: all 0.7s;
	 -moz-transition: all 0.7s;
	 -ms-transition: all 0.7s;
	 -o-transition: all 0.7s;
	 transition: all 0.7s;
   }
   .team-details .material-card .mc-footer a:nth-child(4) {
	 -webkit-transition: all 0.8s;
	 -moz-transition: all 0.8s;
	 -ms-transition: all 0.8s;
	 -o-transition: all 0.8s;
	 transition: all 0.8s;
   }
   .team-details .material-card .mc-footer a:nth-child(5) {
	 -webkit-transition: all 0.9s;
	 -moz-transition: all 0.9s;
	 -ms-transition: all 0.9s;
	 -o-transition: all 0.9s;
	 transition: all 0.9s;
   }
   .team-details .material-card .img-container {
	 overflow: hidden;
	 position: absolute;
	 left: 0;
	 top: 0;
	 width: 100%;
	 height: 100%;
	 z-index: 3;
	 -webkit-transition: all 0.3s;
	 -moz-transition: all 0.3s;
	 -ms-transition: all 0.3s;
	 -o-transition: all 0.3s;
	 transition: all 0.3s;
   }
   .team-details .material-card.mc-active .img-container {
	 -webkit-border-radius: 50%;
	 -moz-border-radius: 50%;
	 border-radius: 50%;
	 left: 0;
	 top: 12px;
	 width: 60px;
	 height: 60px;
	 z-index: 20;
   }
   .img-responsive {
	height: 100%;
	width: 100%;	
}

.team-header1{
	font-weight: bold;
    color: #c13737;
}
.team-header2{
	font-weight: bold;
    color: #0095bd;
}
   .team-details .material-card.mc-active .mc-content {
	 padding-top: 5.6em;
   }
   @media screen and (max-width: 767px) {
	 .material-card.mc-active .mc-content {
	   position: relative;
	   margin-right: 16px;
	 }
   }
   .team-details .material-card.mc-active .mc-description {
	 top: 50px;
	 padding-top: 5.6em;
	 opacity: 1;
	 filter: alpha(opacity=100);
   }
   @media screen and (max-width: 767px) {
	 .material-card.mc-active .mc-description {
	   position: relative;
	   top: auto;
	   right: auto;
	   left: auto;
	   padding: 50px 30px 70px 30px;
	   bottom: 0;
	 }
   }
   .team-details .material-card.mc-active .mc-footer {
	 overflow: visible;
	 position: absolute;
	 top: calc(100% - 16px);
	 left: 16px;
	 right: 0;
	 height: 82px;
	 padding-top: 15px;
	 padding-left: 25px;
   }
   .team-details .material-card.mc-active .mc-footer a {
	 top: 0;
   }
   .team-details .material-card.mc-active .mc-footer h4 {
	 top: -32px;
   }
   .team-details .material-card.Red h2 {
	 background-color: #F44336;
   }
   .team-details  .material-card.Red h2:after {
	 border-top-color: #F44336;
	 border-right-color: #F44336;
	 border-bottom-color: transparent;
	 border-left-color: transparent;
   }
   .team-details .material-card.Red h2:before {
	 border-top-color: transparent;
	 border-right-color: #B71C1C;
	 border-bottom-color: #B71C1C;
	 border-left-color: transparent;
   }
   .team-details .material-card.Red.mc-active h2:before {
	 border-top-color: transparent;
	 border-right-color: #F44336;
	 border-bottom-color: #F44336;
	 border-left-color: transparent;
   }
   .team-details  .material-card.Red.mc-active h2:after {
	 border-top-color: #B71C1C;
	 border-right-color: #B71C1C;
	 border-bottom-color: transparent;
	 border-left-color: transparent;
   }
   .team-details .material-card.Red .mc-btn-action {
	 background-color: #F44336;
   }
   .team-details .material-card.Red .mc-btn-action:hover {
	 background-color: #B71C1C;
   }
   .team-details .material-card.Red .mc-footer h4 {
	 color: #B71C1C;
   }
   .team-details .material-card.Red .mc-footer a {
	 background-color: #B71C1C;
   }
   .team-details  .material-card.Red.mc-active .mc-content {
	 background-color: #FFEBEE;
   }
   .team-details .material-card.Red.mc-active .mc-footer {
	 background-color: #FFCDD2;
   }
   .team-details .material-card.Red.mc-active .mc-btn-action {
	 border-color: #FFEBEE;
   }
   .team-details .material-card.Blue-Grey h2 {
	 background-color: #607D8B;
   }
   .team-details .material-card.Blue-Grey h2:after {
	 border-top-color: #607D8B;
	 border-right-color: #607D8B;
	 border-bottom-color: transparent;
	 border-left-color: transparent;
   }
   .team-details .material-card.Blue-Grey h2:before {
	 border-top-color: transparent;
	 border-right-color: #263238;
	 border-bottom-color: #263238;
	 border-left-color: transparent;
   }
   .team-details .material-card.Blue-Grey.mc-active h2:before {
	 border-top-color: transparent;
	 border-right-color: #607D8B;
	 border-bottom-color: #607D8B;
	 border-left-color: transparent;
   }
   .team-details .material-card.Blue-Grey.mc-active h2:after {
	 border-top-color: #263238;
	 border-right-color: #263238;
	 border-bottom-color: transparent;
	 border-left-color: transparent;
   }
   .team-details .material-card.Blue-Grey .mc-btn-action {
	 background-color: #607D8B;
   }
   .team-details .material-card.Blue-Grey .mc-btn-action:hover {
	 background-color: #263238;
   }
   .team-details .material-card.Blue-Grey .mc-footer h4 {
	 color: #263238;
   }
   .team-details .material-card.Blue-Grey .mc-footer a {
	 background-color: #263238;
   }
   .team-details .material-card.Blue-Grey.mc-active .mc-content {
	 background-color: #ECEFF1;
   }
   .team-details .material-card.Blue-Grey.mc-active .mc-footer {
	 background-color: #CFD8DC;
   }
   .team-details .material-card.Blue-Grey.mc-active .mc-btn-action {
	 border-color: #ECEFF1;
   }
   .team-details .material-card.Pink h2 {
	 background-color: #E91E63;
   }
   .team-details .material-card.Pink h2:after {
	 border-top-color: #E91E63;
	 border-right-color: #E91E63;
	 border-bottom-color: transparent;
	 border-left-color: transparent;
   }
   .team-details .material-card.Pink h2:before {
	 border-top-color: transparent;
	 border-right-color: #880E4F;
	 border-bottom-color: #880E4F;
	 border-left-color: transparent;
   }
   .team-details .material-card.Pink.mc-active h2:before {
	 border-top-color: transparent;
	 border-right-color: #E91E63;
	 border-bottom-color: #E91E63;
	 border-left-color: transparent;
   }
   .team-details .material-card.Pink.mc-active h2:after {
	 border-top-color: #880E4F;
	 border-right-color: #880E4F;
	 border-bottom-color: transparent;
	 border-left-color: transparent;
   }
   .team-details .material-card.Pink .mc-btn-action {
	 background-color: #E91E63;
   }
   .team-details .material-card.Pink .mc-btn-action:hover {
	 background-color: #880E4F;
   }
   .team-details .material-card.Pink .mc-footer h4 {
	 color: #880E4F;
   }
   .team-details .material-card.Pink .mc-footer a {
	 background-color: #880E4F;
   }
   .team-details .material-card.Pink.mc-active .mc-content {
	 background-color: #FCE4EC;
   }
   .team-details .material-card.Pink.mc-active .mc-footer {
	 background-color: #F8BBD0;
   }
   .team-details .material-card.Pink.mc-active .mc-btn-action {
	 border-color: #FCE4EC;
   }
   .team-details  .material-card.Purple h2 {
	 background-color: #9C27B0;
   }
   .team-details .material-card.Purple h2:after {
	 border-top-color: #9C27B0;
	 border-right-color: #9C27B0;
	 border-bottom-color: transparent;
	 border-left-color: transparent;
   }
   .team-details .material-card.Purple h2:before {
	 border-top-color: transparent;
	 border-right-color: #4A148C;
	 border-bottom-color: #4A148C;
	 border-left-color: transparent;
   }
   .team-details .material-card.Purple.mc-active h2:before {
	 border-top-color: transparent;
	 border-right-color: #9C27B0;
	 border-bottom-color: #9C27B0;
	 border-left-color: transparent;
   }
   .team-details .material-card.Purple.mc-active h2:after {
	 border-top-color: #4A148C;
	 border-right-color: #4A148C;
	 border-bottom-color: transparent;
	 border-left-color: transparent;
   }
   .team-details .material-card.Purple .mc-btn-action {
	 background-color: #9C27B0;
   }
   .team-details .material-card.Purple .mc-btn-action:hover {
	 background-color: #4A148C;
   }
   .team-details .material-card.Purple .mc-footer h4 {
	 color: #4A148C;
   }
   .team-details .material-card.Purple .mc-footer a {
	 background-color: #4A148C;
   }
   .team-details .material-card.Purple.mc-active .mc-content {
	 background-color: #F3E5F5;
   }
   .team-details .material-card.Purple.mc-active .mc-footer {
	 background-color: #E1BEE7;
   }
   .team-details .material-card.Purple.mc-active .mc-btn-action {
	 border-color: #F3E5F5;
   }
   .team-details .material-card.Deep-Purple h2 {
	 background-color: #673AB7;
   }
   .team-details .material-card.Deep-Purple h2:after {
	 border-top-color: #673AB7;
	 border-right-color: #673AB7;
	 border-bottom-color: transparent;
	 border-left-color: transparent;
   }
   .team-details .material-card.Deep-Purple h2:before {
	 border-top-color: transparent;
	 border-right-color: #311B92;
	 border-bottom-color: #311B92;
	 border-left-color: transparent;
   }
   .team-details .material-card.Deep-Purple.mc-active h2:before {
	 border-top-color: transparent;
	 border-right-color: #673AB7;
	 border-bottom-color: #673AB7;
	 border-left-color: transparent;
   }
   .team-details .material-card.Deep-Purple.mc-active h2:after {
	 border-top-color: #311B92;
	 border-right-color: #311B92;
	 border-bottom-color: transparent;
	 border-left-color: transparent;
   }
   .team-details .material-card.Deep-Purple .mc-btn-action {
	 background-color: #673AB7;
   }
   .team-details .material-card.Deep-Purple .mc-btn-action:hover {
	 background-color: #311B92;
   }
   .team-details .material-card.Deep-Purple .mc-footer h4 {
	 color: #311B92;
   }
   .team-details .material-card.Deep-Purple .mc-footer a {
	 background-color: #311B92;
   }
   .team-details .material-card.Deep-Purple.mc-active .mc-content {
	 background-color: #EDE7F6;
   }
   .team-details .material-card.Deep-Purple.mc-active .mc-footer {
	 background-color: #D1C4E9;
   }
   .team-details .material-card.Deep-Purple.mc-active .mc-btn-action {
	 border-color: #EDE7F6;
   }
   .team-details .material-card.Indigo h2 {
	 background-color: #3F51B5;
   }
   .team-details .material-card.Indigo h2:after {
	 border-top-color: #3F51B5;
	 border-right-color: #3F51B5;
	 border-bottom-color: transparent;
	 border-left-color: transparent;
   }
   .team-details .material-card.Indigo h2:before {
	 border-top-color: transparent;
	 border-right-color: #1A237E;
	 border-bottom-color: #1A237E;
	 border-left-color: transparent;
   }
   .team-details .material-card.Indigo.mc-active h2:before {
	 border-top-color: transparent;
	 border-right-color: #3F51B5;
	 border-bottom-color: #3F51B5;
	 border-left-color: transparent;
   }
   .team-details .material-card.Indigo.mc-active h2:after {
	 border-top-color: #1A237E;
	 border-right-color: #1A237E;
	 border-bottom-color: transparent;
	 border-left-color: transparent;
   }
   .team-details .material-card.Indigo .mc-btn-action {
	 background-color: #3F51B5;
   }
   .team-details .material-card.Indigo .mc-btn-action:hover {
	 background-color: #1A237E;
   }
   .team-details .material-card.Indigo .mc-footer h4 {
	 color: #1A237E;
   }
   .team-details .material-card.Indigo .mc-footer a {
	 background-color: #1A237E;
   }
   .team-details .material-card.Indigo.mc-active .mc-content {
	 background-color: #E8EAF6;
   }
   .team-details .material-card.Indigo.mc-active .mc-footer {
	 background-color: #C5CAE9;
   }
   .team-details .material-card.Indigo.mc-active .mc-btn-action {
	 border-color: #E8EAF6;
   }
   .team-details .material-card.Blue h2 {
	 background-color: #2196F3;
   }
   .team-details .material-card.Blue h2:after {
	 border-top-color: #2196F3;
	 border-right-color: #2196F3;
	 border-bottom-color: transparent;
	 border-left-color: transparent;
   }
   .team-details .material-card.Blue h2:before {
	 border-top-color: transparent;
	 border-right-color: #0D47A1;
	 border-bottom-color: #0D47A1;
	 border-left-color: transparent;
   }
   .team-details .material-card.Blue.mc-active h2:before {
	 border-top-color: transparent;
	 border-right-color: #2196F3;
	 border-bottom-color: #2196F3;
	 border-left-color: transparent;
   }
   .team-details .material-card.Blue.mc-active h2:after {
	 border-top-color: #0D47A1;
	 border-right-color: #0D47A1;
	 border-bottom-color: transparent;
	 border-left-color: transparent;
   }
   .team-details .material-card.Blue .mc-btn-action {
	 background-color: #2196F3;
   }
   .team-details .material-card.Blue .mc-btn-action:hover {
	 background-color: #0D47A1;
   }
   .team-details .material-card.Blue .mc-footer h4 {
	 color: #0D47A1;
   }
   .team-details  .material-card.Blue .mc-footer a {
	 background-color: #0D47A1;
   }
   .team-details .material-card.Blue.mc-active .mc-content {
	 background-color: #E3F2FD;
   }
   .team-details .material-card.Blue.mc-active .mc-footer {
	 background-color: #BBDEFB;
   }
   .team-details .material-card.Blue.mc-active .mc-btn-action {
	 border-color: #E3F2FD;
   }
   .team-details .material-card.Light-Blue h2 {
	 background-color: #03A9F4;
   }
   .team-details .material-card.Light-Blue h2:after {
	 border-top-color: #03A9F4;
	 border-right-color: #03A9F4;
	 border-bottom-color: transparent;
	 border-left-color: transparent;
   }
   .team-details .material-card.Light-Blue h2:before {
	 border-top-color: transparent;
	 border-right-color: #01579B;
	 border-bottom-color: #01579B;
	 border-left-color: transparent;
   }
   .team-details .material-card.Light-Blue.mc-active h2:before {
	 border-top-color: transparent;
	 border-right-color: #03A9F4;
	 border-bottom-color: #03A9F4;
	 border-left-color: transparent;
   }
   .team-details .material-card.Light-Blue.mc-active h2:after {
	 border-top-color: #01579B;
	 border-right-color: #01579B;
	 border-bottom-color: transparent;
	 border-left-color: transparent;
   }
   .team-details  .material-card.Light-Blue .mc-btn-action {
	 background-color: #03A9F4;
   }
   .team-details .material-card.Light-Blue .mc-btn-action:hover {
	 background-color: #01579B;
   }
   .team-details .material-card.Light-Blue .mc-footer h4 {
	 color: #01579B;
   }
   .team-details .material-card.Light-Blue .mc-footer a {
	 background-color: #01579B;
   }
   .team-details .material-card.Light-Blue.mc-active .mc-content {
	 background-color: #E1F5FE;
   }
   .team-details .material-card.Light-Blue.mc-active .mc-footer {
	 background-color: #B3E5FC;
   }
   .team-details .material-card.Light-Blue.mc-active .mc-btn-action {
	 border-color: #E1F5FE;
   }
   .team-details .material-card.Cyan h2 {
	 background-color: #00BCD4;
   }
   .team-details .material-card.Cyan h2:after {
	 border-top-color: #00BCD4;
	 border-right-color: #00BCD4;
	 border-bottom-color: transparent;
	 border-left-color: transparent;
   }
   .team-details .material-card.Cyan h2:before {
	 border-top-color: transparent;
	 border-right-color: #006064;
	 border-bottom-color: #006064;
	 border-left-color: transparent;
   }
   .team-details  .material-card.Cyan.mc-active h2:before {
	 border-top-color: transparent;
	 border-right-color: #00BCD4;
	 border-bottom-color: #00BCD4;
	 border-left-color: transparent;
   }
   .team-details .material-card.Cyan.mc-active h2:after {
	 border-top-color: #006064;
	 border-right-color: #006064;
	 border-bottom-color: transparent;
	 border-left-color: transparent;
   }
   .team-details .material-card.Cyan .mc-btn-action {
	 background-color: #00BCD4;
   }
   .team-details .material-card.Cyan .mc-btn-action:hover {
	 background-color: #006064;
   }
   .material-card.Cyan .mc-footer h4 {
	 color: #006064;
   }
   .material-card.Cyan .mc-footer a {
	 background-color: #006064;
   }
   .material-card.Cyan.mc-active .mc-content {
	 background-color: #E0F7FA;
   }
   .material-card.Cyan.mc-active .mc-footer {
	 background-color: #B2EBF2;
   }
   .material-card.Cyan.mc-active .mc-btn-action {
	 border-color: #E0F7FA;
   }
   .material-card.Teal h2 {
	 background-color: #009688;
   }
   .material-card.Teal h2:after {
	 border-top-color: #009688;
	 border-right-color: #009688;
	 border-bottom-color: transparent;
	 border-left-color: transparent;
   }
   .material-card.Teal h2:before {
	 border-top-color: transparent;
	 border-right-color: #004D40;
	 border-bottom-color: #004D40;
	 border-left-color: transparent;
   }
   .material-card.Teal.mc-active h2:before {
	 border-top-color: transparent;
	 border-right-color: #009688;
	 border-bottom-color: #009688;
	 border-left-color: transparent;
   }
   .material-card.Teal.mc-active h2:after {
	 border-top-color: #004D40;
	 border-right-color: #004D40;
	 border-bottom-color: transparent;
	 border-left-color: transparent;
   }
   .material-card.Teal .mc-btn-action {
	 background-color: #009688;
   }
   .material-card.Teal .mc-btn-action:hover {
	 background-color: #004D40;
   }
   .material-card.Teal .mc-footer h4 {
	 color: #004D40;
   }
   .material-card.Teal .mc-footer a {
	 background-color: #004D40;
   }
   .material-card.Teal.mc-active .mc-content {
	 background-color: #E0F2F1;
   }
   .material-card.Teal.mc-active .mc-footer {
	 background-color: #B2DFDB;
   }
   .material-card.Teal.mc-active .mc-btn-action {
	 border-color: #E0F2F1;
   }
   .material-card.Green h2 {
	 background-color: #4CAF50;
   }
   .material-card.Green h2:after {
	 border-top-color: #4CAF50;
	 border-right-color: #4CAF50;
	 border-bottom-color: transparent;
	 border-left-color: transparent;
   }
   .material-card.Green h2:before {
	 border-top-color: transparent;
	 border-right-color: #1B5E20;
	 border-bottom-color: #1B5E20;
	 border-left-color: transparent;
   }
   .material-card.Green.mc-active h2:before {
	 border-top-color: transparent;
	 border-right-color: #4CAF50;
	 border-bottom-color: #4CAF50;
	 border-left-color: transparent;
   }
   .material-card.Green.mc-active h2:after {
	 border-top-color: #1B5E20;
	 border-right-color: #1B5E20;
	 border-bottom-color: transparent;
	 border-left-color: transparent;
   }
   .material-card.Green .mc-btn-action {
	 background-color: #4CAF50;
   }
   .material-card.Green .mc-btn-action:hover {
	 background-color: #1B5E20;
   }
   .material-card.Green .mc-footer h4 {
	 color: #1B5E20;
   }
   .material-card.Green .mc-footer a {
	 background-color: #1B5E20;
   }
   .material-card.Green.mc-active .mc-content {
	 background-color: #E8F5E9;
   }
   .material-card.Green.mc-active .mc-footer {
	 background-color: #C8E6C9;
   }
   .material-card.Green.mc-active .mc-btn-action {
	 border-color: #E8F5E9;
   }
   .material-card.Light-Green h2 {
	 background-color: #8BC34A;
   }
   .material-card.Light-Green h2:after {
	 border-top-color: #8BC34A;
	 border-right-color: #8BC34A;
	 border-bottom-color: transparent;
	 border-left-color: transparent;
   }
   .material-card.Light-Green h2:before {
	 border-top-color: transparent;
	 border-right-color: #33691E;
	 border-bottom-color: #33691E;
	 border-left-color: transparent;
   }
   .material-card.Light-Green.mc-active h2:before {
	 border-top-color: transparent;
	 border-right-color: #8BC34A;
	 border-bottom-color: #8BC34A;
	 border-left-color: transparent;
   }
   .material-card.Light-Green.mc-active h2:after {
	 border-top-color: #33691E;
	 border-right-color: #33691E;
	 border-bottom-color: transparent;
	 border-left-color: transparent;
   }
   .material-card.Light-Green .mc-btn-action {
	 background-color: #8BC34A;
   }
   .material-card.Light-Green .mc-btn-action:hover {
	 background-color: #33691E;
   }
   .material-card.Light-Green .mc-footer h4 {
	 color: #33691E;
   }
   .material-card.Light-Green .mc-footer a {
	 background-color: #33691E;
   }
   .material-card.Light-Green.mc-active .mc-content {
	 background-color: #F1F8E9;
   }
   .material-card.Light-Green.mc-active .mc-footer {
	 background-color: #DCEDC8;
   }
   .material-card.Light-Green.mc-active .mc-btn-action {
	 border-color: #F1F8E9;
   }
   .material-card.Lime h2 {
	 background-color: #CDDC39;
   }
   .material-card.Lime h2:after {
	 border-top-color: #CDDC39;
	 border-right-color: #CDDC39;
	 border-bottom-color: transparent;
	 border-left-color: transparent;
   }
   .material-card.Lime h2:before {
	 border-top-color: transparent;
	 border-right-color: #827717;
	 border-bottom-color: #827717;
	 border-left-color: transparent;
   }
   .material-card.Lime.mc-active h2:before {
	 border-top-color: transparent;
	 border-right-color: #CDDC39;
	 border-bottom-color: #CDDC39;
	 border-left-color: transparent;
   }
   .material-card.Lime.mc-active h2:after {
	 border-top-color: #827717;
	 border-right-color: #827717;
	 border-bottom-color: transparent;
	 border-left-color: transparent;
   }
   .material-card.Lime .mc-btn-action {
	 background-color: #CDDC39;
   }
   .material-card.Lime .mc-btn-action:hover {
	 background-color: #827717;
   }
   .material-card.Lime .mc-footer h4 {
	 color: #827717;
   }
   .material-card.Lime .mc-footer a {
	 background-color: #827717;
   }
   .material-card.Lime.mc-active .mc-content {
	 background-color: #F9FBE7;
   }
   .material-card.Lime.mc-active .mc-footer {
	 background-color: #F0F4C3;
   }
   .material-card.Lime.mc-active .mc-btn-action {
	 border-color: #F9FBE7;
   }
   .material-card.Yellow h2 {
	 background-color: #FFEB3B;
   }
   .material-card.Yellow h2:after {
	 border-top-color: #FFEB3B;
	 border-right-color: #FFEB3B;
	 border-bottom-color: transparent;
	 border-left-color: transparent;
   }
   .material-card.Yellow h2:before {
	 border-top-color: transparent;
	 border-right-color: #F57F17;
	 border-bottom-color: #F57F17;
	 border-left-color: transparent;
   }
   .material-card.Yellow.mc-active h2:before {
	 border-top-color: transparent;
	 border-right-color: #FFEB3B;
	 border-bottom-color: #FFEB3B;
	 border-left-color: transparent;
   }
   .material-card.Yellow.mc-active h2:after {
	 border-top-color: #F57F17;
	 border-right-color: #F57F17;
	 border-bottom-color: transparent;
	 border-left-color: transparent;
   }
   .material-card.Yellow .mc-btn-action {
	 background-color: #FFEB3B;
   }
   .material-card.Yellow .mc-btn-action:hover {
	 background-color: #F57F17;
   }
   .material-card.Yellow .mc-footer h4 {
	 color: #F57F17;
   }
   .material-card.Yellow .mc-footer a {
	 background-color: #F57F17;
   }
   .material-card.Yellow.mc-active .mc-content {
	 background-color: #FFFDE7;
   }
   .material-card.Yellow.mc-active .mc-footer {
	 background-color: #FFF9C4;
   }
   .material-card.Yellow.mc-active .mc-btn-action {
	 border-color: #FFFDE7;
   }
   .material-card.Amber h2 {
	 background-color: #FFC107;
   }
   .material-card.Amber h2:after {
	 border-top-color: #FFC107;
	 border-right-color: #FFC107;
	 border-bottom-color: transparent;
	 border-left-color: transparent;
   }
   .material-card.Amber h2:before {
	 border-top-color: transparent;
	 border-right-color: #FF6F00;
	 border-bottom-color: #FF6F00;
	 border-left-color: transparent;
   }
   .material-card.Amber.mc-active h2:before {
	 border-top-color: transparent;
	 border-right-color: #FFC107;
	 border-bottom-color: #FFC107;
	 border-left-color: transparent;
   }
   .material-card.Amber.mc-active h2:after {
	 border-top-color: #FF6F00;
	 border-right-color: #FF6F00;
	 border-bottom-color: transparent;
	 border-left-color: transparent;
   }
   .material-card.Amber .mc-btn-action {
	 background-color: #FFC107;
   }
   .material-card.Amber .mc-btn-action:hover {
	 background-color: #FF6F00;
   }
   .material-card.Amber .mc-footer h4 {
	 color: #FF6F00;
   }
   .material-card.Amber .mc-footer a {
	 background-color: #FF6F00;
   }
   .material-card.Amber.mc-active .mc-content {
	 background-color: #FFF8E1;
   }
   .material-card.Amber.mc-active .mc-footer {
	 background-color: #FFECB3;
   }
   .material-card.Amber.mc-active .mc-btn-action {
	 border-color: #FFF8E1;
   }
   .material-card.Orange h2 {
	 background-color: #FF9800;
   }
   .material-card.Orange h2:after {
	 border-top-color: #FF9800;
	 border-right-color: #FF9800;
	 border-bottom-color: transparent;
	 border-left-color: transparent;
   }
   .material-card.Orange h2:before {
	 border-top-color: transparent;
	 border-right-color: #E65100;
	 border-bottom-color: #E65100;
	 border-left-color: transparent;
   }
   .material-card.Orange.mc-active h2:before {
	 border-top-color: transparent;
	 border-right-color: #FF9800;
	 border-bottom-color: #FF9800;
	 border-left-color: transparent;
   }
   .material-card.Orange.mc-active h2:after {
	 border-top-color: #E65100;
	 border-right-color: #E65100;
	 border-bottom-color: transparent;
	 border-left-color: transparent;
   }
   .material-card.Orange .mc-btn-action {
	 background-color: #FF9800;
   }
   .material-card.Orange .mc-btn-action:hover {
	 background-color: #E65100;
   }
   .material-card.Orange .mc-footer h4 {
	 color: #E65100;
   }
   .material-card.Orange .mc-footer a {
	 background-color: #E65100;
   }
   .material-card.Orange.mc-active .mc-content {
	 background-color: #FFF3E0;
   }
   .material-card.Orange.mc-active .mc-footer {
	 background-color: #FFE0B2;
   }
   .material-card.Orange.mc-active .mc-btn-action {
	 border-color: #FFF3E0;
   }
   .material-card.Deep-Orange h2 {
	 background-color: #FF5722;
   }
   .material-card.Deep-Orange h2:after {
	 border-top-color: #FF5722;
	 border-right-color: #FF5722;
	 border-bottom-color: transparent;
	 border-left-color: transparent;
   }
   .material-card.Deep-Orange h2:before {
	 border-top-color: transparent;
	 border-right-color: #BF360C;
	 border-bottom-color: #BF360C;
	 border-left-color: transparent;
   }
   .material-card.Deep-Orange.mc-active h2:before {
	 border-top-color: transparent;
	 border-right-color: #FF5722;
	 border-bottom-color: #FF5722;
	 border-left-color: transparent;
   }
   .material-card.Deep-Orange.mc-active h2:after {
	 border-top-color: #BF360C;
	 border-right-color: #BF360C;
	 border-bottom-color: transparent;
	 border-left-color: transparent;
   }
   .material-card.Deep-Orange .mc-btn-action {
	 background-color: #FF5722;
   }
   .material-card.Deep-Orange .mc-btn-action:hover {
	 background-color: #BF360C;
   }
   .material-card.Deep-Orange .mc-footer h4 {
	 color: #BF360C;
   }
   .material-card.Deep-Orange .mc-footer a {
	 background-color: #BF360C;
   }
   .material-card.Deep-Orange.mc-active .mc-content {
	 background-color: #FBE9E7;
   }
   .material-card.Deep-Orange.mc-active .mc-footer {
	 background-color: #FFCCBC;
   }
   .material-card.Deep-Orange.mc-active .mc-btn-action {
	 border-color: #FBE9E7;
   }
   .material-card.Brown h2 {
	 background-color: #795548;
   }
   .material-card.Brown h2:after {
	 border-top-color: #795548;
	 border-right-color: #795548;
	 border-bottom-color: transparent;
	 border-left-color: transparent;
   }
   .material-card.Brown h2:before {
	 border-top-color: transparent;
	 border-right-color: #3E2723;
	 border-bottom-color: #3E2723;
	 border-left-color: transparent;
   }
   .material-card.Brown.mc-active h2:before {
	 border-top-color: transparent;
	 border-right-color: #795548;
	 border-bottom-color: #795548;
	 border-left-color: transparent;
   }
   .material-card.Brown.mc-active h2:after {
	 border-top-color: #3E2723;
	 border-right-color: #3E2723;
	 border-bottom-color: transparent;
	 border-left-color: transparent;
   }
   .material-card.Brown .mc-btn-action {
	 background-color: #795548;
   }
   .material-card.Brown .mc-btn-action:hover {
	 background-color: #3E2723;
   }
   .material-card.Brown .mc-footer h4 {
	 color: #3E2723;
   }
   .material-card.Brown .mc-footer a {
	 background-color: #3E2723;
   }
   .material-card.Brown.mc-active .mc-content {
	 background-color: #EFEBE9;
   }
   .material-card.Brown.mc-active .mc-footer {
	 background-color: #D7CCC8;
   }
   .material-card.Brown.mc-active .mc-btn-action {
	 border-color: #EFEBE9;
   }
   .material-card.Grey h2 {
	 background-color: #9E9E9E;
   }
   .material-card.Grey h2:after {
	 border-top-color: #9E9E9E;
	 border-right-color: #9E9E9E;
	 border-bottom-color: transparent;
	 border-left-color: transparent;
   }
   .material-card.Grey h2:before {
	 border-top-color: transparent;
	 border-right-color: #212121;
	 border-bottom-color: #212121;
	 border-left-color: transparent;
   }
   .material-card.Grey.mc-active h2:before {
	 border-top-color: transparent;
	 border-right-color: #9E9E9E;
	 border-bottom-color: #9E9E9E;
	 border-left-color: transparent;
   }
   .material-card.Grey.mc-active h2:after {
	 border-top-color: #212121;
	 border-right-color: #212121;
	 border-bottom-color: transparent;
	 border-left-color: transparent;
   }
   .material-card.Grey .mc-btn-action {
	 background-color: #9E9E9E;
   }
   .material-card.Grey .mc-btn-action:hover {
	 background-color: #212121;
   }
   .material-card.Grey .mc-footer h4 {
	 color: #212121;
   }
   .material-card.Grey .mc-footer a {
	 background-color: #212121;
   }
   .material-card.Grey.mc-active .mc-content {
	 background-color: #FAFAFA;
   }
   .material-card.Grey.mc-active .mc-footer {
	 background-color: #F5F5F5;
   }
   .material-card.Grey.mc-active .mc-btn-action {
	 border-color: #FAFAFA;
   }
   .material-card.Blue-Grey h2 {
	 background-color: #607D8B;
   }
   .material-card.Blue-Grey h2:after {
	 border-top-color: #607D8B;
	 border-right-color: #607D8B;
	 border-bottom-color: transparent;
	 border-left-color: transparent;
   }
   .material-card.Blue-Grey h2:before {
	 border-top-color: transparent;
	 border-right-color: #263238;
	 border-bottom-color: #263238;
	 border-left-color: transparent;
   }
   .material-card.Blue-Grey.mc-active h2:before {
	 border-top-color: transparent;
	 border-right-color: #607D8B;
	 border-bottom-color: #607D8B;
	 border-left-color: transparent;
   }
   .material-card.Blue-Grey.mc-active h2:after {
	 border-top-color: #263238;
	 border-right-color: #263238;
	 border-bottom-color: transparent;
	 border-left-color: transparent;
   }
   .material-card.Blue-Grey .mc-btn-action {
	 background-color: #607D8B;
   }
   .material-card.Blue-Grey .mc-btn-action:hover {
	 background-color: #263238;
   }
   .material-card.Blue-Grey .mc-footer h4 {
	 color: #263238;
   }
   .material-card.Blue-Grey .mc-footer a {
	 background-color: #263238;
   }
   .material-card.Blue-Grey.mc-active .mc-content {
	 background-color: #ECEFF1;
   }
   .material-card.Blue-Grey.mc-active .mc-footer {
	 background-color: #CFD8DC;
   }
   .material-card.Blue-Grey.mc-active .mc-btn-action {
	 border-color: #ECEFF1;
   }
   body {
	 background-color: #ECEFF1;
	 color: #37474F;
	 font-family: 'Raleway', sans-serif;
	 font-weight: 300;
	 font-size: 16px;
   }
   h1,
   h2,
   h3 {
	 font-weight: 200;
   }
   





