
@import url('https://fonts.googleapis.com/css?family=Cairo|Cinzel|Exo|Exo+2|Orbitron|Play|Poiret+One|Questrial|Quicksand|Rokkitt|Tinos');

form{
    margin-top: 50px;
}
.form-login{
    border: 1px solid #dadada;
    margin-top: 5%;
    padding: 25px;
    box-shadow: 0px 0px 4px 0px rgba(186, 186, 186, 0.75);
    border-radius: 10px;
    background-color: #ffffffd1;
}
.form-signup{
    border: 1px solid #dadada;
    margin-top: 4%;
    padding: 25px;
    box-shadow: 0px 0px 4px 0px rgba(186, 186, 186, 0.75);
    border-radius: 10px;
    background-color: #ffffffdb;
}

.form-con{
    padding:25px;
    margin-top: -15px;
}
.highlight{
    padding: 10px;
    color: white;
    border-radius: 10px 10px 0px 0px;
    font-family: 'Orbitron', sans-serif;
}
.but{
    margin-top:20px;
    text-align: center;
    color:red;
    font-family: 'Exo', sans-serif;
}
.srm{
    height: 70px;
    width: 120px;
}
body{
    background: url(wall.jpg);
}
.nav-cen{
    font-size: 30px;
}
.log{
    font-size: 18px;
    font-family: 'Exo 2', sans-serif;
    color:blue;
}
.sup{
  font-family: 'Play', sans-serif;
}
.reg{
  font-family: 'Orbitron', sans-serif;
}
.logi{
  font-family: 'Poiret One', cursive;
}
.con{
  font-family: 'Cinzel', serif;
}
