.content {
  text-align: center;
  width: 100%;
}
.content-container {
  height: 100vh;
  display: block;
  float: left;
  width: 100%;
  position: relative;
}
.new-content {
  display: none;
  float: left;
  width: 0;
  height: 100vh;
  
  
}

.content-container.half {
  width: 50%;
  transition: 0.5s;
}
.new-content.half{
  display: block;
  width: 50%;
  transition: 0.5s;
  border-left: 5px solid #1565C0;
}

.fac{
    background-color: #2865aa;
    color: white;
    padding: 1% !important;
    font-size: 30px;
}

.stu{
  background-color: #21a656;
    color: white;
    padding: 1% !important;
    font-size: 30px;
    
}

.contain {
  position: relative;
  width: 100%;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #303841;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
  
}

.contain:hover .overlay {
  bottom: 0;
  height: 100%;
}

.fac-highlight{
  background-color: #303841;
  padding: 20px;
  border-radius: 0 5px 5px 0;
  color: white;
  height: 500px;
}
.stu-highlight{
  background-color: #303841;
  padding: 20px;
  border-radius: 5px 0 0 5px;
  color: white;
  height: 500px;
}
.contact{
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  background-color: #303841;
  color: white;
  padding: 20px;
}

.text {
  margin-top: 1%;
  color: white;
  font-weight: 500;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  cursor: pointer;

}

.nav-fac{
    color: white;
    padding: 1% !important;
    font-size: 30px;
    text-align: center;
}

.heading{
    padding: 1% !important;
    color: white;
    font-weight: 400;
    font-size: 20px;
    border-radius: 0 0 5px 5px;
}

.reg{
  background-color: #2865aa;
  color: white;
}

.reg:hover{
  background-color: #2865aa;
}

.form-log{
  margin-top: 5%;
  padding: 2% !important;
}

.submit{
  padding: 2%;
}


/* Flip */


a {
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  width: 135px;
  background: red;
  border: 1px solid black;
  border-radius: 10px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}

a.unflip { display: none; }
div.card { position: relative; }

section { 
 
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -ms-transition: all 1s;
  transition: all 1s;
}

section.front { z-index: 1; }

section.back, div#flip:target section.front {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  z-index: 0;display: none;

}

div#flip:target a.flip { display: none; }
div#flip:target a.unflip { display: block; }

div#flip:target section.back {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
z-index: 1;
display: block;
}




