.fade {
	opacity: 0;
  }
.logo-auv{
	position: fixed;
    z-index: 1;
    width: 20%;
    height: 16%;
    top: 1%;
	left: 1%;
    border-radius: 31px;
}

.a-head{
	position: absolute;
    color: #ffffffcf;
    z-index: 1;
    left: 22%;
    top: 11%;
    font-size: 100px;
    font-weight: bolder;
    font-family: Candal;
}

.type{
	position: absolute;
    z-index: 1;
    left: 22%;
    top: 40%;
    color: #ffffffcf;
    font-family: Candal;
    font-size: 50px;
}

.pos_fix{
	position: fixed;
	top: 24px;
}

.nav_fix{
	transition: 1s;
	position: fixed !important;
	top: 0%;
}

.pos_abs{
	position: absolute;
}

.social-ic{
	display: none;
	
}
.te-link{
	margin-top: 15%;
}

.t-link{
	
    padding: 10px;
    font-size: 28px;
    font-weight: bolder;
    color: #c4c4c4;
    border-radius: 50px;
    background-color: #00000094;
}


header.header {
	position: relative;
	top: 30%;
	left: 0;
	width: 100%;
	-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
  }
  header.header h1 {
	font-size: 8rem;
	color: #222222;
	text-align: center;
	margin-top: 0;
	text-transform: uppercase;
	font-weight: 900;
  }
  
  .glitch-window {
	position: absolute;
	top: 0;
	left: -2px;
	width: 100%;
	color: #222222;
	text-shadow: 2px 0 #F9F8F8, -1px 0 yellow, -2px 0 green;
	overflow: hidden;
	animation: crt-me 2500ms infinite linear alternate-reverse;
  }
  
  @-webkit-keyframes crt-me {
	0% {
	  clip: rect(31px, 9999px, 94px, 0);
	}
	10% {
	  clip: rect(112px, 9999px, 76px, 0);
	}
	20% {
	  clip: rect(85px, 9999px, 77px, 0);
	}
	30% {
	  clip: rect(27px, 9999px, 97px, 0);
	}
	40% {
	  clip: rect(64px, 9999px, 98px, 0);
	}
	50% {
	  clip: rect(61px, 9999px, 85px, 0);
	}
	60% {
	  clip: rect(99px, 9999px, 114px, 0);
	}
	70% {
	  clip: rect(34px, 9999px, 115px, 0);
	}
	80% {
	  clip: rect(98px, 9999px, 129px, 0);
	}
	90% {
	  clip: rect(43px, 9999px, 96px, 0);
	}
	100% {
	  clip: rect(82px, 9999px, 64px, 0);
	}
  }
  
  @keyframes crt-me {
	0% {
	  clip: rect(31px, 9999px, 94px, 0);
	}
	10% {
	  clip: rect(112px, 9999px, 76px, 0);
	}
	20% {
	  clip: rect(85px, 9999px, 77px, 0);
	}
	30% {
	  clip: rect(27px, 9999px, 97px, 0);
	}
	40% {
	  clip: rect(64px, 9999px, 98px, 0);
	}
	50% {
	  clip: rect(61px, 9999px, 85px, 0);
	}
	60% {
	  clip: rect(99px, 9999px, 114px, 0);
	}
	70% {
	  clip: rect(34px, 9999px, 115px, 0);
	}
	80% {
	  clip: rect(98px, 9999px, 129px, 0);
	}
	90% {
	  clip: rect(43px, 9999px, 96px, 0);
	}
	100% {
	  clip: rect(82px, 9999px, 64px, 0);
	}
  }
.box {
	position: relative;
	padding: 5px;
	display: inline-block;
	width: 280px;
	height: 150px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	-webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  
  .box::after {
	content: "";
	border-radius: 5px;
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
	opacity: 0;
	-webkit-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  
  .box:hover {
	-webkit-transform: scale(1.15, 1.15);
	transform: scale(1.15, 1.15);
  }
  
  .box:hover::after {
	  opacity: 1;
  }

  .navigation__link{
	  padding: 10px;
  }

	.w-p{
	text-align: justify;
	/* margin-top: -8px; */
	padding-top: 4%;
    font-size: 24px
  }
  .w-dom{
	border: 2px solid #dddddd5e;
    padding: 10px;
	font-size: 20px;
	background-color: #0000009e;
	border-radius: 30px;
  }
  .w-dom:hover{
	transition: 0.4s;
    cursor: default;
    border: 2px solid #ffffffb8;
    color: #ffffff;
    font-weight: bolder;
    background-color: #00000070;
  }
  .w-img{
	border-radius: 0 20px 20px 0px;
  }

  .menu {
	z-index: 1;
	width: 100%;
	margin-top: 0%;
	height: 75px;
	position: absolute;
    background-color: #1d2024;
    /* position: fixed; */
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.light-menu {
    width: 100%;
    height: 75px;
    background-color: rgba(255, 255, 255, 1);
    /* position: fixed; */
    background-color:rgba(4, 180, 49, 0.6);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.menu-ce ul li{
	margin: 20px;
	list-style: none;
    display: inline;
}
.menu-ce ul li a:hover{
	color: #57cbcc;
	 
}

.menu-ce ul li a {
    font-family:'Droid Sans', serif;
    font-size: 20px;
    color: #737f8a;
    text-decoration: none;
    line-height: 50px;
}
#about {
	
    height: 100%;
    width: 100%;
	overflow: hidden;
	margin-bottom: -12px;
}

.team-back{
	position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.float-center
{
	position: absolute;
	display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.domain{
	background-image: url(./components/Domains/dom.jpg) ;
	height: 900px;
}
.dom-cont {
	font-weight: bolder;
    margin-bottom: -4%;
    color: white;
    padding-top: 7%;
    margin-top: 0;
    padding-bottom: 2%;
}

#sponsor{
	padding-top: 3%;
	background-color: #303841;
    color: white;
    height: 900px;
}

#contact {
    background-color: red;
    height: 100%;
    width: 100%;
}

.nav-logo{
	height: 80px;
    margin-top: 2%;
    margin-left: 3%;
}
.nav-l{
	display: none;
}

.arrows {
	z-index: 1;
	width: 60px;
	height: 72px;
	position: absolute;
	left: 50%;
	margin-left: -30px;
	bottom: 20px;
}

.arrows path {
	stroke: white;
	fill: transparent;
	stroke-width: 3px;	
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite; 
}

.txt-rotate{
	background-color: black;
    padding: 10px;
    border-radius: 20px
}

.whoarewe{
	background-image: url(./components/WhoAreWe/w-b1.jpg);
	padding: 20px;
	background-size: cover;
	background-repeat: no-repeat;
	height: 900px;
}

.team{
	background-image: url(./components/Team/teamb.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 900px;
}

.achievement{
	background-image: url(./components/Achievement/back.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 987px;
	padding: 4%;
}
.ach-head{
	position: relative;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-size: 45px;
    font-weight: 900;
    text-decoration: none;
    text-shadow: 7px 1px 1px white;
    color: white;
    display: inline-block;
    background-size: 120% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    background-image: linear-gradient(45deg, #7794ff, #44107A, #FF1361, #FFF800);
    animation: .8s shake infinite alternate;
    width: 100%;
}

@keyframes shake {
  0% { transform: skewX(-15deg); }
  5% { transform: skewX(15deg); }
  10% { transform: skewX(-15deg); }
  15% { transform: skewX(15deg); }
  20% { transform: skewX(0deg); }
  100% { transform: skewX(0deg); }  
}


.ic-ach{
	text-align: center;
	font-size: 30px;
    padding-top: 15px !important
}
.ach-cont{
	font-size: 18px;
	color: white;
    text-align: justify;
}
.shadowbox {
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(40, 40, 40, 0.65) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6282828',GradientType=0 );
    opacity: 0.9;
    margin: 0 auto;
    background-color: #252525;
    width: 100%;
    height: 875px;
    border: solid 30px #111111;
    box-shadow: inset 0 0 20px #000000;
    border-style: ridge;
  }
  

.vehicle{
	background-image: url(./components/Vehicle/vehb.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 900px;
}
.zarna-name{
	font-size: 135px;
    font-weight: bold;
    opacity: 0.8;
    font-family: Candal;
}
.v-find{
	color: white;
    font-size: 20px;
    border: 1px solid white;
    padding: 15px;
    border-radius: 30px;
}
.float{
	margin-top: -40px;
	font-size: 31px;
}
.floating { 
	padding-top: 40%;
	color: white;
	font-size: 30px;
	font-weight: bolder; 
    animation-name: floating;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
   
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}

.button {
	display:inline;
	position:fixed;
	right:50px;
	top:6px;
	z-index:1002;
	font-size:30px;
}
.button a {
	text-decoration:none;
}
.btn-open:after {
	color:#FFF;
	content:"\f0c9";
	font-family:"FontAwesome";
	transition-property:all .2s linear 0s;
	-moz-transition:all .2s linear 0s;
	-webkit-transition:all .2s linear 0s;
	-o-transition:all .2s linear 0s;
}
.btn-open:hover:after {
	color:rgba(255, 255, 255, 0.685);
}
.btn-close:after {
	color:#FFF;
	content:"\f00d";
	font-family:"FontAwesome";
	transition-property:all .2s linear 0s;
	-moz-transition:all .2s linear 0s;
	-webkit-transition:all .2s linear 0s;
	-o-transition:all .2s linear 0s;
}
.btn-close:hover:after {
	color: rgba(255, 255, 255, 0.685);
}
/*overlay*/
.overlay {
	display:none;
	position:fixed;
	top:0;
	height:100%;
	width:100%;
	background:#333;
	overflow:auto;
	z-index:1001;
}
.wrap {
	color:#e9e9e9;
	text-align:center;
	max-width:25%;
	margin:0 auto;
}
.wrap ul.wrap-nav {
	/* border-bottom:1px solid #575757; */
	text-transform:capitalize;
	
}
.wrap ul.wrap-nav li {
	padding: 10px;
	border-bottom: 1px solid #575757;
    text-transform: capitalize;
	font-size:20px;
	display:inline-block;
	vertical-align:top;
	width:100%;
	position:relative;
}
.wrap ul.wrap-nav li a {
	color:rgba(255, 255, 255, 0.685);
	display:block;
	padding:8px 0;
	text-decoration:none;
	transition-property:all .2s linear 0s;
	-moz-transition:all .2s linear 0s;
	-webkit-transition:all .2s linear 0s;
	-o-transition:all .2s linear 0s;
}
.wrap ul.wrap-nav li a:hover {
	color:#f0f0f0;
}
.wrap ul.wrap-nav ul {
	padding:20px 0;
}
.wrap ul.wrap-nav ul li {
	display:block;
	font-size:13px;
	width:100%;
	color:#e9e9e9;
}
.wrap ul.wrap-nav ul li a {
	color:#f0f0f0;
	
}
.wrap ul.wrap-nav ul li a:hover {
	transition: 0.6s;
	font-weight: bolder;
	color:#34B484;
}


@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {	
	animation-delay:0s;
	-webkit-animation-delay:0s; /* Safari 和 Chrome */
}
.mmenu {
	margin-top: 30px;
    text-transform: uppercase;
    color: #737f8a;
    display: inline-block;
    cursor: pointer;
    pointer-events: none;
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 20px;
    font-weight: bold;
	
  }
  .mmenu:hover {
	  
	pointer-events: all;
  }
  .mmenu a{
	  color: #737f8a !important;
  }
  .label {
	color: #FFF;
	display: inline-block;
	cursor: pointer;
	pointer-events: all;
  }
  .label:hover{
	color: #FFF;
  }
  .spacer {
	display: inline-block;
	width: 80px;
	margin-left: 15px;
	margin-right: 15px;
	vertical-align: middle;
	cursor: pointer;
	position: relative;
  }
  .spacer:before {
	content: "";
	position: absolute;
	border-bottom: 1px solid #ffffff;
	height: 1px;
	width: 0%;
	transition: width 0.25s ease;
	transition-delay: 0.7s;
  }
  .item {
	position: relative;
	display: inline-block;
	margin-right: 15px;
	top: 10px;
	opacity: 0;
	transition: opacity 0.5s ease, top 0.5s ease;
	transition-delay: 0;
  }
  span {
	transition: color 0.5s ease;
  }
  .item:hover span {
	color: #FFF;
  }
  .mmenu:hover .spacer:before {
	width: 100%;
	transition-delay: 0s;
  }
  .mmenu:hover .item {
	opacity: 1;
	top: 0px;
  }
  .item:nth-child(1) {
	transition-delay: 0.45s;
  }
  .item:nth-child(2) {
	transition-delay: 0.4s;
  }
  .item:nth-child(3) {
	transition-delay: 0.35s;
  }
  .item:nth-child(4) {
	transition-delay: 0.3s;
  }
  .item:nth-child(5) {
	transition-delay: 0.25s;
  }
  .item:nth-child(6) {
	transition-delay: 0.2s;
  }
  .item:nth-child(7) {
	transition-delay: 0.15s;
  }
  .item:nth-child(8) {
	transition-delay: 0.1s;
  }
  .item:nth-child(9) {
	transition-delay: 0.05s;
  }
  .item:nth-child(10) {
	transition-delay: 0s;
  }
  .mmenu:hover .item:nth-child(1) {
	transition-delay: 0.25s;
  }
  .mmenu:hover .item:nth-child(2) {
	transition-delay: 0.3s;
  }
  .mmenu:hover .item:nth-child(3) {
	transition-delay: 0.35s;
  }
  .mmenu:hover .item:nth-child(4) {
	transition-delay: 0.4s;
  }
  .mmenu:hover .item:nth-child(5) {
	transition-delay: 0.45s;
  }
  .mmenu:hover .item:nth-child(6) {
	transition-delay: 0.5s;
  }
  .mmenu:hover .item:nth-child(7) {
	transition-delay: 0.55s;
  }
  .mmenu:hover .item:nth-child(8) {
	transition-delay: 0.6s;
  }
  .mmenu:hover .item:nth-child(9) {
	transition-delay: 0.65s;
  }
  .mmenu:hover .item:nth-child(10) {
	transition-delay: 0.7s;
  }
  .w-h{
	  padding-top: 7%;
  }
  .dim-p{
	  font-size: 22px;
  }
  .dim-h4{
	  font-weight: bolder;
  }

  #top-button {
	display: inline-block;
	background-color: #0000002b;
	width: 50px;
	height: 50px;
	text-align: center;
	border-radius: 26px;
	position: fixed;
	bottom: 30px;
	right: 30px;
	transition: background-color .3s, 
	  opacity .5s, visibility .5s;
	opacity: 0;
	visibility: hidden;
	z-index: 1000;
  }
  #top-button::after {
	content: "\f077";
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	font-size: 2em;
	line-height: 50px;
	color: #fff;
  }
  #top-button:hover {
	cursor: pointer;
	background-color: #333;
  }
  #top-button:active {
	background-color: #555;
  }
  #top-button.show {
	opacity: 1;
	visibility: visible;
  }
  
  /* For Mobile */
  @media screen and (max-width:48em) {
	.wrap ul.wrap-nav>li {
		font-size: 20px;
		color: white !important;
		width: 100%;
		padding: 15px 0;
		border-bottom: 1px solid #575757;
	}
	.wrap ul.wrap-nav {
		padding:30px 0px 0px;
	}
	.wrap {
		color:#e9e9e9;
		text-align:center;
		max-width:100%;
		margin:0 auto;
	}
	.mmenu{
		display: none !important;
		color: white !important;
	}
	.social-ic{
		display: block !important;
		color: white;
    	font-size: 30px;
	}
	.button{
		display: inline;
		position: fixed;
		right: 10px;
		top: 0px;
		z-index: 1002;
		font-size: 25px;
	}
}
.product{
	display: none;
}
.carousel{
	display: none;
}
.tag-head{
	font-weight: bolder;
}
.t-h{
	background-color: transparent !important;
	padding: 0 !important;
}




.tag-head-v{
	font-weight: bolder;
	font-size: 40px;
}
.z-head{
	font-size: 50px !important;
    font-weight: bolder !important;
}

.containerr
{
	position: relative;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.containerr .box
{
	background-color: white;
    position: relative;
    width: 310px;
    height: 468px;
    margin: 20px 0;
    box-sizing: border-box;
    overflow: hidden
}
.containerr .box .imgBx
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	clip-path: circle(400px at center 100px);
	transition: 0.5s;
	transition-delay: 0.5s;
}
.containerr .box:hover .imgBx
{
	clip-path: circle(80px at center 100px);
	transition-delay: 0s;
}
.containerr .box .imgBx img
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.containerr .box .content
{
	position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 65%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}
.content-p{
	text-align: justify;
}
.containerr .box .content h2
{
	margin: 0;
	padding: 0;
}
.containerr .box .content a
{
	text-decoration: none;
	background: #000;
	color: #fff;
	padding: 5px;
	display: inline-block;
}
.containerr .box .content h2,
.containerr .box .content p,
.containerr .box .content a
{
	opacity: 0;
	transition: 0.5s;
	transform: translateY(20px);
}
.containerr .box:hover .content h2
{
	opacity: 1;
	transform: translateY(0);
	transition-delay: 0.5s
}
.containerr .box:hover .content p
{
	opacity: 1;
	transform: translateY(0);
	transition-delay: 0.7s
}
.containerr .box:hover .content a
{
	opacity: 1;
	transform: translateY(0);
	transition-delay: 0.9s
}




   @import "https://fonts.googleapis.com/css?family=Raleway:400,300,200,500,600,700";
   .fa-spin-fast {
	 -webkit-animation: fa-spin-fast 0.2s infinite linear;
	 animation: fa-spin-fast 0.2s infinite linear;
   }
   @-webkit-keyframes fa-spin-fast {
	 0% {
	   -webkit-transform: rotate(0deg);
	   transform: rotate(0deg);
	 }
	 100% {
	   -webkit-transform: rotate(359deg);
	   transform: rotate(359deg);
	 }
   }
   @keyframes fa-spin-fast {
	 0% {
	   -webkit-transform: rotate(0deg);
	   transform: rotate(0deg);
	 }
	 100% {
	   -webkit-transform: rotate(359deg);
	   transform: rotate(359deg);
	 }
   }
   .team-details .material-card {
	 position: relative;
	 height: 0;
	 padding-bottom: calc(100% - 16px);
	 margin-bottom: 6.6em;
   }
   .team-details .material-card h2 {
	 position: absolute;
	 top: calc(100% - 16px);
	 left: 0;
	 width: 100%;
	 padding: 10px 16px;
	 color: #fff;
	 font-size: 1.4em;
	 line-height: 1.6em;
	 margin: 0;
	 z-index: 10;
	 -webkit-transition: all 0.3s;
	 -moz-transition: all 0.3s;
	 -ms-transition: all 0.3s;
	 -o-transition: all 0.3s;
	 transition: all 0.3s;
   }
   .team-details .material-card h2 span {
	 display: block;
   }
   .team-details .material-card h2 strong {
	 font-weight: 400;
	 display: block;
	 font-size: 0.8em;
   }
   .team-details .material-card h2:before,
   .team-details .material-card h2:after {
	 content: ' ';
	 position: absolute;
	 left: 0;
	 top: -16px;
	 width: 0;
	 border: 8px solid;
	 -webkit-transition: all 0.3s;
	 -moz-transition: all 0.3s;
	 -ms-transition: all 0.3s;
	 -o-transition: all 0.3s;
	 transition: all 0.3s;
   }
   .team-details .material-card h2:after {
	 top: auto;
	 bottom: 0;
   }
   @media screen and (max-width: 767px) {
	 .material-card.mc-active {
	   padding-bottom: 0;
	   height: auto;
	 }
   }
   .team-details .material-card.mc-active h2 {
	 top: 0;
	 padding: 10px 16px 10px 90px;
   }
   .team-details .material-card.mc-active h2:before {
	 top: 0;
   }
   .team-details .material-card.mc-active h2:after {
	 bottom: -16px;
   }
   .team-details  .material-card .mc-content {
	 position: absolute;
	 right: 0;
	 top: 0;
	 bottom: 16px;
	 left: 16px;
	 -webkit-transition: all 0.3s;
	 -moz-transition: all 0.3s;
	 -ms-transition: all 0.3s;
	 -o-transition: all 0.3s;
	 transition: all 0.3s;
   }
   .team-details .material-card .mc-btn-action {
	 position: absolute;
	 right: 16px;
	 top: 15px;
	 -webkit-border-radius: 50%;
	 -moz-border-radius: 50%;
	 border-radius: 50%;
	 border: 5px solid;
	 padding: 6px;
	 width: 54px;
	 height: 54px;
	 line-height: 44px;
	 text-align: center;
	 color: #fff;
	 cursor: pointer;
	 z-index: 20;
	 -webkit-transition: all 0.3s;
	 -moz-transition: all 0.3s;
	 -ms-transition: all 0.3s;
	 -o-transition: all 0.3s;
	 transition: all 0.3s;
   }
   .team-details .material-card.mc-active .mc-btn-action {
	 top: 62px;
   }
   .team-details .material-card .mc-description {
	 position: absolute;
	 top: 100%;
	 right: 30px;
	 left: 30px;
	 bottom: 54px;
	 overflow: hidden;
	 opacity: 0;
	 filter: alpha(opacity=0);
	 -webkit-transition: all 1.2s;
	 -moz-transition: all 1.2s;
	 -ms-transition: all 1.2s;
	 -o-transition: all 1.2s;
	 transition: all 1.2s;
   }
   .team-details .material-card .mc-footer {
	 height: 0;
	 overflow: hidden;
	 -webkit-transition: all 0.3s;
	 -moz-transition: all 0.3s;
	 -ms-transition: all 0.3s;
	 -o-transition: all 0.3s;
	 transition: all 0.3s;
   }
   .team-details .material-card .mc-footer h4 {
	 position: absolute;
	 top: 200px;
	 left: 30px;
	 padding: 0;
	 margin: 0;
	 font-size: 16px;
	 font-weight: 700;
	 -webkit-transition: all 1.4s;
	 -moz-transition: all 1.4s;
	 -ms-transition: all 1.4s;
	 -o-transition: all 1.4s;
	 transition: all 1.4s;
   }
   .team-details .material-card .mc-footer a {
	 display: block;
	 float: left;
	 position: relative;
	 width: 52px;
	 height: 52px;
	 margin-left: 5px;
	 margin-bottom: 15px;
	 font-size: 28px;
	 color: #fff;
	 line-height: 52px;
	 text-decoration: none;
	 top: 200px;
   }
   .team-details  .material-card .mc-footer a:nth-child(1) {
	 -webkit-transition: all 0.5s;
	 -moz-transition: all 0.5s;
	 -ms-transition: all 0.5s;
	 -o-transition: all 0.5s;
	 transition: all 0.5s;
   }
   .team-details .material-card .mc-footer a:nth-child(2) {
	 -webkit-transition: all 0.6s;
	 -moz-transition: all 0.6s;
	 -ms-transition: all 0.6s;
	 -o-transition: all 0.6s;
	 transition: all 0.6s;
   }
   .team-details .material-card .mc-footer a:nth-child(3) {
	 -webkit-transition: all 0.7s;
	 -moz-transition: all 0.7s;
	 -ms-transition: all 0.7s;
	 -o-transition: all 0.7s;
	 transition: all 0.7s;
   }
   .team-details .material-card .mc-footer a:nth-child(4) {
	 -webkit-transition: all 0.8s;
	 -moz-transition: all 0.8s;
	 -ms-transition: all 0.8s;
	 -o-transition: all 0.8s;
	 transition: all 0.8s;
   }
   .team-details .material-card .mc-footer a:nth-child(5) {
	 -webkit-transition: all 0.9s;
	 -moz-transition: all 0.9s;
	 -ms-transition: all 0.9s;
	 -o-transition: all 0.9s;
	 transition: all 0.9s;
   }
   .team-details .material-card .img-container {
	 overflow: hidden;
	 position: absolute;
	 left: 0;
	 top: 0;
	 width: 100%;
	 height: 100%;
	 z-index: 3;
	 -webkit-transition: all 0.3s;
	 -moz-transition: all 0.3s;
	 -ms-transition: all 0.3s;
	 -o-transition: all 0.3s;
	 transition: all 0.3s;
   }
   .team-details .material-card.mc-active .img-container {
	 -webkit-border-radius: 50%;
	 -moz-border-radius: 50%;
	 border-radius: 50%;
	 left: 0;
	 top: 12px;
	 width: 60px;
	 height: 60px;
	 z-index: 20;
   }
   .img-responsive {
	height: 100%;
	width: 100%;	
}

.team-header1{
	font-weight: bold;
    color: #c13737;
}
.team-header2{
	font-weight: bold;
    color: #0095bd;
}
.team-header3{
	font-weight: bold;
	color: #97b1ff;
}
.team-header4{
	font-weight: bold;
	color: #8aff6d;
}
   .team-details .material-card.mc-active .mc-content {
	 padding-top: 5.6em;
   }
   @media screen and (max-width: 767px) {
	 .material-card.mc-active .mc-content {
	   position: relative;
	   margin-right: 16px;
	 }
   }
   .team-details .material-card.mc-active .mc-description {
	 top: 50px;
	 padding-top: 5.6em;
	 opacity: 1;
	 filter: alpha(opacity=100);
   }
   @media screen and (max-width: 767px) {
	 .material-card.mc-active .mc-description {
	   position: relative;
	   top: auto;
	   right: auto;
	   left: auto;
	   padding: 50px 30px 70px 30px;
	   bottom: 0;
	 }
   }
   .team-details .material-card.mc-active .mc-footer {
	 overflow: visible;
	 position: absolute;
	 top: calc(100% - 16px);
	 left: 16px;
	 right: 0;
	 height: 82px;
	 padding-top: 15px;
	 padding-left: 25px;
   }
   .team-details .material-card.mc-active .mc-footer a {
	 top: 0;
   }
   .team-details .material-card.mc-active .mc-footer h4 {
	 top: -32px;
   }
   .team-details .material-card.Red h2 {
	 background-color: #F44336;
   }
   .team-details  .material-card.Red h2:after {
	 border-top-color: #F44336;
	 border-right-color: #F44336;
	 border-bottom-color: transparent;
	 border-left-color: transparent;
   }
   .team-details .material-card.Red h2:before {
	 border-top-color: transparent;
	 border-right-color: #B71C1C;
	 border-bottom-color: #B71C1C;
	 border-left-color: transparent;
   }
   .team-details .material-card.Red.mc-active h2:before {
	 border-top-color: transparent;
	 border-right-color: #F44336;
	 border-bottom-color: #F44336;
	 border-left-color: transparent;
   }
   .team-details  .material-card.Red.mc-active h2:after {
	 border-top-color: #B71C1C;
	 border-right-color: #B71C1C;
	 border-bottom-color: transparent;
	 border-left-color: transparent;
   }
   .team-details .material-card.Red .mc-btn-action {
	 background-color: #F44336;
   }
   .team-details .material-card.Red .mc-btn-action:hover {
	 background-color: #B71C1C;
   }
   .team-details .material-card.Red .mc-footer h4 {
	 color: #B71C1C;
   }
   .team-details .material-card.Red .mc-footer a {
	 background-color: #B71C1C;
   }
   .team-details  .material-card.Red.mc-active .mc-content {
	 background-color: #FFEBEE;
   }
   .team-details .material-card.Red.mc-active .mc-footer {
	 background-color: #FFCDD2;
   }
   .team-details .material-card.Red.mc-active .mc-btn-action {
	 border-color: #FFEBEE;
   }
   .team-details .material-card.Blue-Grey h2 {
	 background-color: #607D8B;
   }
   .team-details .material-card.Blue-Grey h2:after {
	 border-top-color: #607D8B;
	 border-right-color: #607D8B;
	 border-bottom-color: transparent;
	 border-left-color: transparent;
   }
   .team-details .material-card.Blue-Grey h2:before {
	 border-top-color: transparent;
	 border-right-color: #263238;
	 border-bottom-color: #263238;
	 border-left-color: transparent;
   }
   .team-details .material-card.Blue-Grey.mc-active h2:before {
	 border-top-color: transparent;
	 border-right-color: #607D8B;
	 border-bottom-color: #607D8B;
	 border-left-color: transparent;
   }
   .team-details .material-card.Blue-Grey.mc-active h2:after {
	 border-top-color: #263238;
	 border-right-color: #263238;
	 border-bottom-color: transparent;
	 border-left-color: transparent;
   }
   .team-details .material-card.Blue-Grey .mc-btn-action {
	 background-color: #607D8B;
   }
   .team-details .material-card.Blue-Grey .mc-btn-action:hover {
	 background-color: #263238;
   }
   .team-details .material-card.Blue-Grey .mc-footer h4 {
	 color: #263238;
   }
   .team-details .material-card.Blue-Grey .mc-footer a {
	 background-color: #263238;
   }
   .team-details .material-card.Blue-Grey.mc-active .mc-content {
	 background-color: #ECEFF1;
   }
   .team-details .material-card.Blue-Grey.mc-active .mc-footer {
	 background-color: #CFD8DC;
   }
   .team-details .material-card.Blue-Grey.mc-active .mc-btn-action {
	 border-color: #ECEFF1;
   }
   .team-details .material-card.Pink h2 {
	 background-color: #E91E63;
   }
   .team-details .material-card.Pink h2:after {
	 border-top-color: #E91E63;
	 border-right-color: #E91E63;
	 border-bottom-color: transparent;
	 border-left-color: transparent;
   }
   .team-details .material-card.Pink h2:before {
	 border-top-color: transparent;
	 border-right-color: #880E4F;
	 border-bottom-color: #880E4F;
	 border-left-color: transparent;
   }
   .team-details .material-card.Pink.mc-active h2:before {
	 border-top-color: transparent;
	 border-right-color: #E91E63;
	 border-bottom-color: #E91E63;
	 border-left-color: transparent;
   }
   .team-details .material-card.Pink.mc-active h2:after {
	 border-top-color: #880E4F;
	 border-right-color: #880E4F;
	 border-bottom-color: transparent;
	 border-left-color: transparent;
   }
   .team-details .material-card.Pink .mc-btn-action {
	 background-color: #E91E63;
   }
   .team-details .material-card.Pink .mc-btn-action:hover {
	 background-color: #880E4F;
   }
   .team-details .material-card.Pink .mc-footer h4 {
	 color: #880E4F;
   }
   .team-details .material-card.Pink .mc-footer a {
	 background-color: #880E4F;
   }
   .team-details .material-card.Pink.mc-active .mc-content {
	 background-color: #FCE4EC;
   }
   .team-details .material-card.Pink.mc-active .mc-footer {
	 background-color: #F8BBD0;
   }
   .team-details .material-card.Pink.mc-active .mc-btn-action {
	 border-color: #FCE4EC;
   }
   .team-details  .material-card.Purple h2 {
	 background-color: #9C27B0;
   }
   .team-details .material-card.Purple h2:after {
	 border-top-color: #9C27B0;
	 border-right-color: #9C27B0;
	 border-bottom-color: transparent;
	 border-left-color: transparent;
   }
   .team-details .material-card.Purple h2:before {
	 border-top-color: transparent;
	 border-right-color: #4A148C;
	 border-bottom-color: #4A148C;
	 border-left-color: transparent;
   }
   .team-details .material-card.Purple.mc-active h2:before {
	 border-top-color: transparent;
	 border-right-color: #9C27B0;
	 border-bottom-color: #9C27B0;
	 border-left-color: transparent;
   }
   .team-details .material-card.Purple.mc-active h2:after {
	 border-top-color: #4A148C;
	 border-right-color: #4A148C;
	 border-bottom-color: transparent;
	 border-left-color: transparent;
   }
   .team-details .material-card.Purple .mc-btn-action {
	 background-color: #9C27B0;
   }
   .team-details .material-card.Purple .mc-btn-action:hover {
	 background-color: #4A148C;
   }
   .team-details .material-card.Purple .mc-footer h4 {
	 color: #4A148C;
   }
   .team-details .material-card.Purple .mc-footer a {
	 background-color: #4A148C;
   }
   .team-details .material-card.Purple.mc-active .mc-content {
	 background-color: #F3E5F5;
   }
   .team-details .material-card.Purple.mc-active .mc-footer {
	 background-color: #E1BEE7;
   }
   .team-details .material-card.Purple.mc-active .mc-btn-action {
	 border-color: #F3E5F5;
   }
   .team-details .material-card.Deep-Purple h2 {
	 background-color: #673AB7;
   }
   .team-details .material-card.Deep-Purple h2:after {
	 border-top-color: #673AB7;
	 border-right-color: #673AB7;
	 border-bottom-color: transparent;
	 border-left-color: transparent;
   }
   .team-details .material-card.Deep-Purple h2:before {
	 border-top-color: transparent;
	 border-right-color: #311B92;
	 border-bottom-color: #311B92;
	 border-left-color: transparent;
   }
   .team-details .material-card.Deep-Purple.mc-active h2:before {
	 border-top-color: transparent;
	 border-right-color: #673AB7;
	 border-bottom-color: #673AB7;
	 border-left-color: transparent;
   }
   .team-details .material-card.Deep-Purple.mc-active h2:after {
	 border-top-color: #311B92;
	 border-right-color: #311B92;
	 border-bottom-color: transparent;
	 border-left-color: transparent;
   }
   .team-details .material-card.Deep-Purple .mc-btn-action {
	 background-color: #673AB7;
   }
   .team-details .material-card.Deep-Purple .mc-btn-action:hover {
	 background-color: #311B92;
   }
   .team-details .material-card.Deep-Purple .mc-footer h4 {
	 color: #311B92;
   }
   .team-details .material-card.Deep-Purple .mc-footer a {
	 background-color: #311B92;
   }
   .team-details .material-card.Deep-Purple.mc-active .mc-content {
	 background-color: #EDE7F6;
   }
   .team-details .material-card.Deep-Purple.mc-active .mc-footer {
	 background-color: #D1C4E9;
   }
   .team-details .material-card.Deep-Purple.mc-active .mc-btn-action {
	 border-color: #EDE7F6;
   }
   .team-details .material-card.Indigo h2 {
	 background-color: #3F51B5;
   }
   .team-details .material-card.Indigo h2:after {
	 border-top-color: #3F51B5;
	 border-right-color: #3F51B5;
	 border-bottom-color: transparent;
	 border-left-color: transparent;
   }
   .team-details .material-card.Indigo h2:before {
	 border-top-color: transparent;
	 border-right-color: #1A237E;
	 border-bottom-color: #1A237E;
	 border-left-color: transparent;
   }
   .team-details .material-card.Indigo.mc-active h2:before {
	 border-top-color: transparent;
	 border-right-color: #3F51B5;
	 border-bottom-color: #3F51B5;
	 border-left-color: transparent;
   }
   .team-details .material-card.Indigo.mc-active h2:after {
	 border-top-color: #1A237E;
	 border-right-color: #1A237E;
	 border-bottom-color: transparent;
	 border-left-color: transparent;
   }
   .team-details .material-card.Indigo .mc-btn-action {
	 background-color: #3F51B5;
   }
   .team-details .material-card.Indigo .mc-btn-action:hover {
	 background-color: #1A237E;
   }
   .team-details .material-card.Indigo .mc-footer h4 {
	 color: #1A237E;
   }
   .team-details .material-card.Indigo .mc-footer a {
	 background-color: #1A237E;
   }
   .team-details .material-card.Indigo.mc-active .mc-content {
	 background-color: #E8EAF6;
   }
   .team-details .material-card.Indigo.mc-active .mc-footer {
	 background-color: #C5CAE9;
   }
   .team-details .material-card.Indigo.mc-active .mc-btn-action {
	 border-color: #E8EAF6;
   }
   .team-details .material-card.Blue h2 {
	 background-color: #2196F3;
   }
   .team-details .material-card.Blue h2:after {
	 border-top-color: #2196F3;
	 border-right-color: #2196F3;
	 border-bottom-color: transparent;
	 border-left-color: transparent;
   }
   .team-details .material-card.Blue h2:before {
	 border-top-color: transparent;
	 border-right-color: #0D47A1;
	 border-bottom-color: #0D47A1;
	 border-left-color: transparent;
   }
   .team-details .material-card.Blue.mc-active h2:before {
	 border-top-color: transparent;
	 border-right-color: #2196F3;
	 border-bottom-color: #2196F3;
	 border-left-color: transparent;
   }
   .team-details .material-card.Blue.mc-active h2:after {
	 border-top-color: #0D47A1;
	 border-right-color: #0D47A1;
	 border-bottom-color: transparent;
	 border-left-color: transparent;
   }
   .team-details .material-card.Blue .mc-btn-action {
	 background-color: #2196F3;
   }
   .team-details .material-card.Blue .mc-btn-action:hover {
	 background-color: #0D47A1;
   }
   .team-details .material-card.Blue .mc-footer h4 {
	 color: #0D47A1;
   }
   .team-details  .material-card.Blue .mc-footer a {
	 background-color: #0D47A1;
   }
   .team-details .material-card.Blue.mc-active .mc-content {
	 background-color: #E3F2FD;
   }
   .team-details .material-card.Blue.mc-active .mc-footer {
	 background-color: #BBDEFB;
   }
   .team-details .material-card.Blue.mc-active .mc-btn-action {
	 border-color: #E3F2FD;
   }
   .team-details .material-card.Light-Blue h2 {
	 background-color: #03A9F4;
   }
   .team-details .material-card.Light-Blue h2:after {
	 border-top-color: #03A9F4;
	 border-right-color: #03A9F4;
	 border-bottom-color: transparent;
	 border-left-color: transparent;
   }
   .team-details .material-card.Light-Blue h2:before {
	 border-top-color: transparent;
	 border-right-color: #01579B;
	 border-bottom-color: #01579B;
	 border-left-color: transparent;
   }
   .team-details .material-card.Light-Blue.mc-active h2:before {
	 border-top-color: transparent;
	 border-right-color: #03A9F4;
	 border-bottom-color: #03A9F4;
	 border-left-color: transparent;
   }
   .team-details .material-card.Light-Blue.mc-active h2:after {
	 border-top-color: #01579B;
	 border-right-color: #01579B;
	 border-bottom-color: transparent;
	 border-left-color: transparent;
   }
   .team-details  .material-card.Light-Blue .mc-btn-action {
	 background-color: #03A9F4;
   }
   .team-details .material-card.Light-Blue .mc-btn-action:hover {
	 background-color: #01579B;
   }
   .team-details .material-card.Light-Blue .mc-footer h4 {
	 color: #01579B;
   }
   .team-details .material-card.Light-Blue .mc-footer a {
	 background-color: #01579B;
   }
   .team-details .material-card.Light-Blue.mc-active .mc-content {
	 background-color: #E1F5FE;
   }
   .team-details .material-card.Light-Blue.mc-active .mc-footer {
	 background-color: #B3E5FC;
   }
   .team-details .material-card.Light-Blue.mc-active .mc-btn-action {
	 border-color: #E1F5FE;
   }
   .team-details .material-card.Cyan h2 {
	 background-color: #00BCD4;
   }
   .team-details .material-card.Cyan h2:after {
	 border-top-color: #00BCD4;
	 border-right-color: #00BCD4;
	 border-bottom-color: transparent;
	 border-left-color: transparent;
   }
   .team-details .material-card.Cyan h2:before {
	 border-top-color: transparent;
	 border-right-color: #006064;
	 border-bottom-color: #006064;
	 border-left-color: transparent;
   }
   .team-details  .material-card.Cyan.mc-active h2:before {
	 border-top-color: transparent;
	 border-right-color: #00BCD4;
	 border-bottom-color: #00BCD4;
	 border-left-color: transparent;
   }
   .team-details .material-card.Cyan.mc-active h2:after {
	 border-top-color: #006064;
	 border-right-color: #006064;
	 border-bottom-color: transparent;
	 border-left-color: transparent;
   }
   .team-details .material-card.Cyan .mc-btn-action {
	 background-color: #00BCD4;
   }
   .team-details .material-card.Cyan .mc-btn-action:hover {
	 background-color: #006064;
   }
   .material-card.Cyan .mc-footer h4 {
	 color: #006064;
   }
   .material-card.Cyan .mc-footer a {
	 background-color: #006064;
   }
   .material-card.Cyan.mc-active .mc-content {
	 background-color: #E0F7FA;
   }
   .material-card.Cyan.mc-active .mc-footer {
	 background-color: #B2EBF2;
   }
   .material-card.Cyan.mc-active .mc-btn-action {
	 border-color: #E0F7FA;
   }
   .material-card.Teal h2 {
	 background-color: #009688;
   }
   .material-card.Teal h2:after {
	 border-top-color: #009688;
	 border-right-color: #009688;
	 border-bottom-color: transparent;
	 border-left-color: transparent;
   }
   .material-card.Teal h2:before {
	 border-top-color: transparent;
	 border-right-color: #004D40;
	 border-bottom-color: #004D40;
	 border-left-color: transparent;
   }
   .material-card.Teal.mc-active h2:before {
	 border-top-color: transparent;
	 border-right-color: #009688;
	 border-bottom-color: #009688;
	 border-left-color: transparent;
   }
   .material-card.Teal.mc-active h2:after {
	 border-top-color: #004D40;
	 border-right-color: #004D40;
	 border-bottom-color: transparent;
	 border-left-color: transparent;
   }
   .material-card.Teal .mc-btn-action {
	 background-color: #009688;
   }
   .material-card.Teal .mc-btn-action:hover {
	 background-color: #004D40;
   }
   .material-card.Teal .mc-footer h4 {
	 color: #004D40;
   }
   .material-card.Teal .mc-footer a {
	 background-color: #004D40;
   }
   .material-card.Teal.mc-active .mc-content {
	 background-color: #E0F2F1;
   }
   .material-card.Teal.mc-active .mc-footer {
	 background-color: #B2DFDB;
   }
   .material-card.Teal.mc-active .mc-btn-action {
	 border-color: #E0F2F1;
   }
   .material-card.Green h2 {
	 background-color: #4CAF50;
   }
   .material-card.Green h2:after {
	 border-top-color: #4CAF50;
	 border-right-color: #4CAF50;
	 border-bottom-color: transparent;
	 border-left-color: transparent;
   }
   .material-card.Green h2:before {
	 border-top-color: transparent;
	 border-right-color: #1B5E20;
	 border-bottom-color: #1B5E20;
	 border-left-color: transparent;
   }
   .material-card.Green.mc-active h2:before {
	 border-top-color: transparent;
	 border-right-color: #4CAF50;
	 border-bottom-color: #4CAF50;
	 border-left-color: transparent;
   }
   .material-card.Green.mc-active h2:after {
	 border-top-color: #1B5E20;
	 border-right-color: #1B5E20;
	 border-bottom-color: transparent;
	 border-left-color: transparent;
   }
   .material-card.Green .mc-btn-action {
	 background-color: #4CAF50;
   }
   .material-card.Green .mc-btn-action:hover {
	 background-color: #1B5E20;
   }
   .material-card.Green .mc-footer h4 {
	 color: #1B5E20;
   }
   .material-card.Green .mc-footer a {
	 background-color: #1B5E20;
   }
   .material-card.Green.mc-active .mc-content {
	 background-color: #E8F5E9;
   }
   .material-card.Green.mc-active .mc-footer {
	 background-color: #C8E6C9;
   }
   .material-card.Green.mc-active .mc-btn-action {
	 border-color: #E8F5E9;
   }
   .material-card.Light-Green h2 {
	 background-color: #8BC34A;
   }
   .material-card.Light-Green h2:after {
	 border-top-color: #8BC34A;
	 border-right-color: #8BC34A;
	 border-bottom-color: transparent;
	 border-left-color: transparent;
   }
   .material-card.Light-Green h2:before {
	 border-top-color: transparent;
	 border-right-color: #33691E;
	 border-bottom-color: #33691E;
	 border-left-color: transparent;
   }
   .material-card.Light-Green.mc-active h2:before {
	 border-top-color: transparent;
	 border-right-color: #8BC34A;
	 border-bottom-color: #8BC34A;
	 border-left-color: transparent;
   }
   .material-card.Light-Green.mc-active h2:after {
	 border-top-color: #33691E;
	 border-right-color: #33691E;
	 border-bottom-color: transparent;
	 border-left-color: transparent;
   }
   .material-card.Light-Green .mc-btn-action {
	 background-color: #8BC34A;
   }
   .material-card.Light-Green .mc-btn-action:hover {
	 background-color: #33691E;
   }
   .material-card.Light-Green .mc-footer h4 {
	 color: #33691E;
   }
   .material-card.Light-Green .mc-footer a {
	 background-color: #33691E;
   }
   .material-card.Light-Green.mc-active .mc-content {
	 background-color: #F1F8E9;
   }
   .material-card.Light-Green.mc-active .mc-footer {
	 background-color: #DCEDC8;
   }
   .material-card.Light-Green.mc-active .mc-btn-action {
	 border-color: #F1F8E9;
   }
   .material-card.Lime h2 {
	 background-color: #CDDC39;
   }
   .material-card.Lime h2:after {
	 border-top-color: #CDDC39;
	 border-right-color: #CDDC39;
	 border-bottom-color: transparent;
	 border-left-color: transparent;
   }
   .material-card.Lime h2:before {
	 border-top-color: transparent;
	 border-right-color: #827717;
	 border-bottom-color: #827717;
	 border-left-color: transparent;
   }
   .material-card.Lime.mc-active h2:before {
	 border-top-color: transparent;
	 border-right-color: #CDDC39;
	 border-bottom-color: #CDDC39;
	 border-left-color: transparent;
   }
   .material-card.Lime.mc-active h2:after {
	 border-top-color: #827717;
	 border-right-color: #827717;
	 border-bottom-color: transparent;
	 border-left-color: transparent;
   }
   .material-card.Lime .mc-btn-action {
	 background-color: #CDDC39;
   }
   .material-card.Lime .mc-btn-action:hover {
	 background-color: #827717;
   }
   .material-card.Lime .mc-footer h4 {
	 color: #827717;
   }
   .material-card.Lime .mc-footer a {
	 background-color: #827717;
   }
   .material-card.Lime.mc-active .mc-content {
	 background-color: #F9FBE7;
   }
   .material-card.Lime.mc-active .mc-footer {
	 background-color: #F0F4C3;
   }
   .material-card.Lime.mc-active .mc-btn-action {
	 border-color: #F9FBE7;
   }
   .material-card.Yellow h2 {
	 background-color: #FFEB3B;
   }
   .material-card.Yellow h2:after {
	 border-top-color: #FFEB3B;
	 border-right-color: #FFEB3B;
	 border-bottom-color: transparent;
	 border-left-color: transparent;
   }
   .material-card.Yellow h2:before {
	 border-top-color: transparent;
	 border-right-color: #F57F17;
	 border-bottom-color: #F57F17;
	 border-left-color: transparent;
   }
   .material-card.Yellow.mc-active h2:before {
	 border-top-color: transparent;
	 border-right-color: #FFEB3B;
	 border-bottom-color: #FFEB3B;
	 border-left-color: transparent;
   }
   .material-card.Yellow.mc-active h2:after {
	 border-top-color: #F57F17;
	 border-right-color: #F57F17;
	 border-bottom-color: transparent;
	 border-left-color: transparent;
   }
   .material-card.Yellow .mc-btn-action {
	 background-color: #FFEB3B;
   }
   .material-card.Yellow .mc-btn-action:hover {
	 background-color: #F57F17;
   }
   .material-card.Yellow .mc-footer h4 {
	 color: #F57F17;
   }
   .material-card.Yellow .mc-footer a {
	 background-color: #F57F17;
   }
   .material-card.Yellow.mc-active .mc-content {
	 background-color: #FFFDE7;
   }
   .material-card.Yellow.mc-active .mc-footer {
	 background-color: #FFF9C4;
   }
   .material-card.Yellow.mc-active .mc-btn-action {
	 border-color: #FFFDE7;
   }
   .material-card.Amber h2 {
	 background-color: #FFC107;
   }
   .material-card.Amber h2:after {
	 border-top-color: #FFC107;
	 border-right-color: #FFC107;
	 border-bottom-color: transparent;
	 border-left-color: transparent;
   }
   .material-card.Amber h2:before {
	 border-top-color: transparent;
	 border-right-color: #FF6F00;
	 border-bottom-color: #FF6F00;
	 border-left-color: transparent;
   }
   .material-card.Amber.mc-active h2:before {
	 border-top-color: transparent;
	 border-right-color: #FFC107;
	 border-bottom-color: #FFC107;
	 border-left-color: transparent;
   }
   .material-card.Amber.mc-active h2:after {
	 border-top-color: #FF6F00;
	 border-right-color: #FF6F00;
	 border-bottom-color: transparent;
	 border-left-color: transparent;
   }
   .material-card.Amber .mc-btn-action {
	 background-color: #FFC107;
   }
   .material-card.Amber .mc-btn-action:hover {
	 background-color: #FF6F00;
   }
   .material-card.Amber .mc-footer h4 {
	 color: #FF6F00;
   }
   .material-card.Amber .mc-footer a {
	 background-color: #FF6F00;
   }
   .material-card.Amber.mc-active .mc-content {
	 background-color: #FFF8E1;
   }
   .material-card.Amber.mc-active .mc-footer {
	 background-color: #FFECB3;
   }
   .material-card.Amber.mc-active .mc-btn-action {
	 border-color: #FFF8E1;
   }
   .material-card.Orange h2 {
	 background-color: #FF9800;
   }
   .material-card.Orange h2:after {
	 border-top-color: #FF9800;
	 border-right-color: #FF9800;
	 border-bottom-color: transparent;
	 border-left-color: transparent;
   }
   .material-card.Orange h2:before {
	 border-top-color: transparent;
	 border-right-color: #E65100;
	 border-bottom-color: #E65100;
	 border-left-color: transparent;
   }
   .material-card.Orange.mc-active h2:before {
	 border-top-color: transparent;
	 border-right-color: #FF9800;
	 border-bottom-color: #FF9800;
	 border-left-color: transparent;
   }
   .material-card.Orange.mc-active h2:after {
	 border-top-color: #E65100;
	 border-right-color: #E65100;
	 border-bottom-color: transparent;
	 border-left-color: transparent;
   }
   .material-card.Orange .mc-btn-action {
	 background-color: #FF9800;
   }
   .material-card.Orange .mc-btn-action:hover {
	 background-color: #E65100;
   }
   .material-card.Orange .mc-footer h4 {
	 color: #E65100;
   }
   .material-card.Orange .mc-footer a {
	 background-color: #E65100;
   }
   .material-card.Orange.mc-active .mc-content {
	 background-color: #FFF3E0;
   }
   .material-card.Orange.mc-active .mc-footer {
	 background-color: #FFE0B2;
   }
   .material-card.Orange.mc-active .mc-btn-action {
	 border-color: #FFF3E0;
   }
   .material-card.Deep-Orange h2 {
	 background-color: #FF5722;
   }
   .material-card.Deep-Orange h2:after {
	 border-top-color: #FF5722;
	 border-right-color: #FF5722;
	 border-bottom-color: transparent;
	 border-left-color: transparent;
   }
   .material-card.Deep-Orange h2:before {
	 border-top-color: transparent;
	 border-right-color: #BF360C;
	 border-bottom-color: #BF360C;
	 border-left-color: transparent;
   }
   .material-card.Deep-Orange.mc-active h2:before {
	 border-top-color: transparent;
	 border-right-color: #FF5722;
	 border-bottom-color: #FF5722;
	 border-left-color: transparent;
   }
   .material-card.Deep-Orange.mc-active h2:after {
	 border-top-color: #BF360C;
	 border-right-color: #BF360C;
	 border-bottom-color: transparent;
	 border-left-color: transparent;
   }
   .material-card.Deep-Orange .mc-btn-action {
	 background-color: #FF5722;
   }
   .material-card.Deep-Orange .mc-btn-action:hover {
	 background-color: #BF360C;
   }
   .material-card.Deep-Orange .mc-footer h4 {
	 color: #BF360C;
   }
   .material-card.Deep-Orange .mc-footer a {
	 background-color: #BF360C;
   }
   .material-card.Deep-Orange.mc-active .mc-content {
	 background-color: #FBE9E7;
   }
   .material-card.Deep-Orange.mc-active .mc-footer {
	 background-color: #FFCCBC;
   }
   .material-card.Deep-Orange.mc-active .mc-btn-action {
	 border-color: #FBE9E7;
   }
   .material-card.Brown h2 {
	 background-color: #795548;
   }
   .material-card.Brown h2:after {
	 border-top-color: #795548;
	 border-right-color: #795548;
	 border-bottom-color: transparent;
	 border-left-color: transparent;
   }
   .material-card.Brown h2:before {
	 border-top-color: transparent;
	 border-right-color: #3E2723;
	 border-bottom-color: #3E2723;
	 border-left-color: transparent;
   }
   .material-card.Brown.mc-active h2:before {
	 border-top-color: transparent;
	 border-right-color: #795548;
	 border-bottom-color: #795548;
	 border-left-color: transparent;
   }
   .material-card.Brown.mc-active h2:after {
	 border-top-color: #3E2723;
	 border-right-color: #3E2723;
	 border-bottom-color: transparent;
	 border-left-color: transparent;
   }
   .material-card.Brown .mc-btn-action {
	 background-color: #795548;
   }
   .material-card.Brown .mc-btn-action:hover {
	 background-color: #3E2723;
   }
   .material-card.Brown .mc-footer h4 {
	 color: #3E2723;
   }
   .material-card.Brown .mc-footer a {
	 background-color: #3E2723;
   }
   .material-card.Brown.mc-active .mc-content {
	 background-color: #EFEBE9;
   }
   .material-card.Brown.mc-active .mc-footer {
	 background-color: #D7CCC8;
   }
   .material-card.Brown.mc-active .mc-btn-action {
	 border-color: #EFEBE9;
   }
   .material-card.Grey h2 {
	 background-color: #9E9E9E;
   }
   .material-card.Grey h2:after {
	 border-top-color: #9E9E9E;
	 border-right-color: #9E9E9E;
	 border-bottom-color: transparent;
	 border-left-color: transparent;
   }
   .material-card.Grey h2:before {
	 border-top-color: transparent;
	 border-right-color: #212121;
	 border-bottom-color: #212121;
	 border-left-color: transparent;
   }
   .material-card.Grey.mc-active h2:before {
	 border-top-color: transparent;
	 border-right-color: #9E9E9E;
	 border-bottom-color: #9E9E9E;
	 border-left-color: transparent;
   }
   .material-card.Grey.mc-active h2:after {
	 border-top-color: #212121;
	 border-right-color: #212121;
	 border-bottom-color: transparent;
	 border-left-color: transparent;
   }
   .material-card.Grey .mc-btn-action {
	 background-color: #9E9E9E;
   }
   .material-card.Grey .mc-btn-action:hover {
	 background-color: #212121;
   }
   .material-card.Grey .mc-footer h4 {
	 color: #212121;
   }
   .material-card.Grey .mc-footer a {
	 background-color: #212121;
   }
   .material-card.Grey.mc-active .mc-content {
	 background-color: #FAFAFA;
   }
   .material-card.Grey.mc-active .mc-footer {
	 background-color: #F5F5F5;
   }
   .material-card.Grey.mc-active .mc-btn-action {
	 border-color: #FAFAFA;
   }
   .material-card.Blue-Grey h2 {
	 background-color: #607D8B;
   }
   .material-card.Blue-Grey h2:after {
	 border-top-color: #607D8B;
	 border-right-color: #607D8B;
	 border-bottom-color: transparent;
	 border-left-color: transparent;
   }
   .material-card.Blue-Grey h2:before {
	 border-top-color: transparent;
	 border-right-color: #263238;
	 border-bottom-color: #263238;
	 border-left-color: transparent;
   }
   .material-card.Blue-Grey.mc-active h2:before {
	 border-top-color: transparent;
	 border-right-color: #607D8B;
	 border-bottom-color: #607D8B;
	 border-left-color: transparent;
   }
   .material-card.Blue-Grey.mc-active h2:after {
	 border-top-color: #263238;
	 border-right-color: #263238;
	 border-bottom-color: transparent;
	 border-left-color: transparent;
   }
   .material-card.Blue-Grey .mc-btn-action {
	 background-color: #607D8B;
   }
   .material-card.Blue-Grey .mc-btn-action:hover {
	 background-color: #263238;
   }
   .material-card.Blue-Grey .mc-footer h4 {
	 color: #263238;
   }
   .material-card.Blue-Grey .mc-footer a {
	 background-color: #263238;
   }
   .material-card.Blue-Grey.mc-active .mc-content {
	 background-color: #ECEFF1;
   }
   .material-card.Blue-Grey.mc-active .mc-footer {
	 background-color: #CFD8DC;
   }
   .material-card.Blue-Grey.mc-active .mc-btn-action {
	 border-color: #ECEFF1;
   }
   body {
	 background-color: #ECEFF1;
	 color: #37474F;
	 font-family: 'Raleway', sans-serif;
	 font-weight: 300;
	 font-size: 16px;
   }
   h1,
   h2,
   h3 {
	 font-weight: 200;
   }
   .loading2 {
	text-transform: uppercase;
	font-family: 'Lexend Deca', sans-serif;
	font-weight: bold;
	font-size: 60pt;
	text-align: center;
	height: 120px;
	line-height: 110px;
	vertical-align: bottom;
	position: relative;
	left: 0;
	right: 0;
	top: 5%;
	bottom: 0;
	display: block;
  }
  .wave2 {
	background-image: url(./components/ContactUs/wat.png);
	-moz-background-clip: text;
	-o-background-clip: text;
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	text-shadow: 0px 0px rgba(255, 255, 255, 0.06);
	animation: wave-animation 0.8s infinite linear, loading-animation 4s infinite linear alternate;
	background-size: 200px 100px;
	background-repeat: repeat-x;
	opacity: 1;
  }
  @keyframes wave-animation {
	0% {
	  background-position: 0 bottom;
	}
	100% {
	  background-position: 200px bottom;
	}
  }
  @keyframes loading-animation {
	0% {
	  background-size: 200px 0px;
	}
	100% {
	  background-size: 200px 200px;
	}
  }
  
  
   #contact{
	   height: 900px;
	   background-color: #383535;
   }
   
   .mob-c{
	   display: none;
   }
   .envelope{
	width:500px;
	height:300px;
	background-color:#50748B;
	margin-left: 16%;
    margin-top: 42%;
	position:relative;
	cursor:pointer;
	z-index:1;
  }
  .envelope:before{
	content:"";
	top:0;
	right:0;
	z-index:3;
	position:absolute;
	border-left:500px solid transparent;
	border-bottom:300px solid #4686A9;
  }
  .envelope:after{
	content:"";
	top:0;
	left:0;
	z-index:3;
	position:absolute;
	border-right:500px solid transparent;
	border-bottom:300px solid #4686A9;
  }
  .back{
	position:absolute;
	top:0;
	z-index:-1;
	transform-origin:top;
	border-top:150px solid #4686A9;
	border-left:250px solid transparent;
	border-right:250px solid transparent;
	transition: all 1s ease-in-out;
	transform: rotateX(180deg);
  }
  .letter{
	position:relative;
	top:0;
	padding:20px 10px;
	width:400px;
	height:200px;
	overflow:hidden;
	z-index:2;
	margin: 0 auto;
	background-color:rgb(255, 255, 255);
	transition: all 1s ease-in-out;
	border: 1px solid #fff;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	box-shadow: 0px 0px 3px #9d9d9d, inset 0px 0px 27px #fff;
	  -moz-box-shadow: 0px 0px 3px #9d9d9d, inset 0px 0px 14px #fff;
	  -webkit-box-shadow: 0px 0px 3px #9d9d9d, inset 0px 0px 27px #fff;
  }
  label{
	color: #b3aba1;
	margin:0 20px;
	text-transform: uppercase;
	text-shadow: 0px 1px 0px #fff;
	font-size: 13px;
  }
  input,textarea{
	width: 90%;
	height:35px;
	display:block;
	margin: 5px auto;
	padding:5px;
	background:none;
	outline:  none;
	color: #7c7873;
	border: 1px solid #f8f5f1;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: inset 0px 0px 1px #726959;
	-webkit-box-shadow: inset 0px 0px 1px #b3a895;
	box-shadow: inset 0px 0px 1px #b3a895;
  }
  textarea{
	height:105px;
	max-height:105px;
	max-width:90%;
	/* background:repeating-linear-gradient(to bottom, transparent, transparent 20px, #ddd 20px, #ddd 21px); */
	line-height:20px;
  }
  input:focus,textarea:focus{
	background-color:#F8F4EE;
  }
  input[type=submit]{
	color: #a6a6a6;
	cursor:pointer;
	background-color:#37474F;
	position:relative;
	text-transform: uppercase;
  }
  input:hover[type=submit] {
	color: white;
	
}
  .envelope:hover .back{
	transform: rotateX(180deg);
  }
  .envelope:hover .letter{
	top:-300px;
	height:500px;
  }
  .letter:hover input[type=submit]{
	z-index:10;
  }

  .label-c{
	  margin-left: 0 !important;
  }

  .txt-c{
	  max-width: 100% !important;
  }

  .send-c{
	color: #a6a6a6;
    background-color: #37474F;
  }
  .send-c:hover{
	  color: whitesmoke;
  }

  .social-media-list {
	position: relative;
	font-size: 2.3rem;
	text-align: center;
	width: 100%;
  }
  
  .social-media-list li a {
	color: #fff;
  }
  
  .social-media-list li {
	position: relative; 
	top: 0;
	display: inline-block;
	height: 70px;
	width: 70px;
	margin: 10px auto;
	line-height: 70px;
	border-radius: 50%;
	color: #fff;
	background-color: rgb(27,27,27);
	cursor: pointer; 
	transition: all .7s ease-in-out;
  }
  
  .social-media-list li:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 70px;
	height: 70px;
	line-height: 70px;
	border-radius: 50%;
	opacity: 0;
	box-shadow: 0 0 0 1px #fff;
	transition: all .5s ease-in-out;
  }
  
  .social-media-list li:hover {
	background-color: #fff; 
  }
  
  .social-media-list li:hover:after {
	opacity: 1;  
	transform: scale(1.12);
	transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
  }
  
  .social-media-list li:hover a {
	color: #111;
  }
  .contact-list {
	padding-top: 20%;
	list-style-type: none;
	margin-left: -30px;
	padding-right: 20px;
  }
  
  .list-item {
	line-height: 4;
	color: #aaa;
  }
  
  .contact-text {
	font: 300 18px 'Lato', sans-serif;
	letter-spacing: 1.9px;
	color: #bbb;
  }
  
  .place {
	margin-left: 62px;
  }
  
  .phone {
	margin-left: 56px;
  }
  
  .gmail {
	margin-left: 53px;
  }
  
  .contact-text a {
	color: #bbb;
	text-decoration: none;
	transition-duration: 0.2s;
  }
  
  .contact-text a:hover {
	color: #fff;
	text-decoration: none;
  }
  @media (max-width: 765px) {
	.desk-c{
		display: none !important;
	}
	.mob-c{
		display: block !important;
	}
	.letter{
	  position: relative;
	  top: 0;
	  padding: 20px 10px;
	  width: 100%;
	  height: 100%;
	  overflow: hidden;
	  z-index: 2;
	  margin: 0 auto;
	  background-color: rgb(255, 255, 255);
	  transition: all 1s ease-in-out;
	  border: 1px solid #fff;
	  border-radius: 3px;
	  -moz-border-radius: 3px;
	  -webkit-border-radius: 3px;
	  box-shadow: 0px 0px 3px #9d9d9d, inset 0px 0px 27px #fff;
	  -moz-box-shadow: 0px 0px 3px #9d9d9d, inset 0px 0px 14px #fff;
	  -webkit-box-shadow: 0px 0px 3px #9d9d9d, inset 0px 0px 27px #fff;
	}
	.contact-list{
		padding-top: 0; 
    	list-style-type: none;
    margin-left: 0;
     padding-right: 0;
	}
  .loading, .loading2 {
	font-size: 40pt;
  }
}

.glitchede{ 
	color: hsla(0, 0%, 0%, .9);
  font: normal 8rem Varela Round, sans-serif;
  left: 0;
  letter-spacing: 5px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  animation: move linear 2000ms infinite;  
}

@keyframes move {
  0% {
    text-shadow:
      4px -4px 0 hsla(0, 100%, 50%, 1), 
      3px -3px 0 hsla(0, 100%, 50%, 1), 
      2px -2px 0 hsla(0, 100%, 50%, 1), 
      1px -1px 0 hsla(0, 100%, 50%, 1),
      -4px 4px 0 hsla(180, 100%, 50%, 1), 
      -3px 3px 0 hsla(180, 100%, 50%, 1), 
      -2px 2px 0 hsla(180, 100%, 50%, 1), 
      -1px 1px 0 hsla(180, 100%, 50%, 1)
    ;
  }
  25% {    
    text-shadow:      
      -4px -4px 0 hsla(180, 100%, 50%, 1), 
      -3px -3px 0 hsla(180, 100%, 50%, 1), 
      -2px -2px 0 hsla(180, 100%, 50%, 1), 
      -1px -1px 0 hsla(180, 100%, 50%, 1),
      4px 4px 0 hsla(0, 100%, 50%, 1), 
      3px 3px 0 hsla(0, 100%, 50%, 1), 
      2px 2px 0 hsla(0, 100%, 50%, 1), 
      1px 1px 0 hsla(0, 100%, 50%, 1)      
    ;
  }
  50% {
    text-shadow:
      -4px 4px 0 hsla(0, 100%, 50%, 1), 
      -3px 3px 0 hsla(0, 100%, 50%, 1), 
      -2px 2px 0 hsla(0, 100%, 50%, 1), 
      -1px 1px 0 hsla(0, 100%, 50%, 1),
      4px -4px 0 hsla(180, 100%, 50%, 1), 
      3px -3px 0 hsla(180, 100%, 50%, 1), 
      2px -2px 0 hsla(180, 100%, 50%, 1), 
      1px -1px 0 hsla(180, 100%, 50%, 1)
    ;
  }
  75% {
    text-shadow:
      4px 4px 0 hsla(180, 100%, 50%, 1), 
      3px 3px 0 hsla(180, 100%, 50%, 1), 
      2px 2px 0 hsla(180, 100%, 50%, 1), 
      1px 1px 0 hsla(180, 100%, 50%, 1),
      -4px -4px 0 hsla(0, 100%, 50%, 1), 
      -3px -3px 0 hsla(0, 100%, 50%, 1), 
      -2px -2px 0 hsla(0, 100%, 50%, 1), 
      -1px -1px 0 hsla(0, 100%, 50%, 1)      
    ;
  }
  100% {
    text-shadow:
      4px -4px 0 hsla(0, 100%, 50%, 1), 
      3px -3px 0 hsla(0, 100%, 50%, 1), 
      2px -2px 0 hsla(0, 100%, 50%, 1), 
      1px -1px 0 hsla(0, 100%, 50%, 1),
      -4px 4px 0 hsla(180, 100%, 50%, 1), 
      -3px 3px 0 hsla(180, 100%, 50%, 1), 
      -2px 2px 0 hsla(180, 100%, 50%, 1), 
      -1px 1px 0 hsla(180, 100%, 50%, 1)
    ;
  }  
}
  
::-webkit-scrollbar{
	display: none;
}


.footer #button{
	margin-top: 5px !important;
    box-shadow: 0px 0px 5px 5px #888888;
	width:35px;
	height:35px;
	border: #0089fa 12px solid;
	border-radius:35px;
	margin:0 auto;
	position:relative;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
.footer #button:hover{
	cursor: pointer;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	position:relative;
}
.footer {
	bottom:0;
	left:0;
	position:fixed;
    width: 100%;
    height: 2em;
    overflow:hidden;
    margin:0 auto;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	z-index:999;
}
.footer:hover {
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	height: 300px;
}
.footer #container{
	padding: 15px;
	margin-top:5px;
	width:100%;
height:100%;
  position:relative;
  top:0;
  left:0;
	background: #333;
}

.footer-list{
	padding: 15px;
}
.footer-list li{
	padding: 7px;
    border-bottom: 1px solid #575757;
    text-transform: capitalize;
    font-size: 20px;
	vertical-align: top;
	
    /* display: inline; */
}
.footer-list li a{
	color: rgba(255, 255, 255, 0.685);
}

.footer-list li a:hover{
	color: white;
}

.footer-lname{
	margin: 0;
	color: white;
	font-weight: bold;
}
.footer-logo{
	width: 55%;
}
.footer-lp{
	margin: 0;
	color: white;
	font-weight: bolder;
}

.footer_show{
	display: block !important;
}

.footer-h4{
	color: white;
	font-weight: bold;
}

.rounded-social-buttons {
	text-align: center;
  }
  
  .rounded-social-buttons .social-button {
	display: inline-block;
	position: relative;
	cursor: pointer;
	width: 3.125rem;
	height: 3.125rem;
	border: 0.125rem solid transparent;
	padding: 0;
	text-decoration: none;
	text-align: center;
	color: #fefefe;
	font-size: 1.5625rem;
	font-weight: normal;
	line-height: 2em;
	border-radius: 1.6875rem;
	transition: all 0.5s ease;
	margin-right: 0.40rem;
	margin-bottom: 0.40rem;
  }
  
  .rounded-social-buttons .social-button:hover, .rounded-social-buttons .social-button:focus {
	-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
			transform: rotate(360deg);
  }
  
  .rounded-social-buttons .fa-twitter, .fa-facebook-f, .fa-linkedin, .fa-youtube, .fa-instagram {
	font-size: 25px;
  }
  
  .rounded-social-buttons .social-button.facebook {
	background: #3b5998;
  }
  
  .rounded-social-buttons .social-button.facebook:hover, .rounded-social-buttons .social-button.facebook:focus {
	color: #3b5998;
	background: #fefefe;
	border-color: #3b5998;
  }
  
  .rounded-social-buttons .social-button.twitter {
	background: #55acee;
  }
  
  .rounded-social-buttons .social-button.twitter:hover, .rounded-social-buttons .social-button.twitter:focus {
	color: #55acee;
	background: #fefefe;
	border-color: #55acee;
  }
  
  .rounded-social-buttons .social-button.linkedin {
	background: #007bb5;
  }
  
  .rounded-social-buttons .social-button.linkedin:hover, .rounded-social-buttons .social-button.linkedin:focus {
	color: #007bb5;
	background: #fefefe;
	border-color: #007bb5;
  }
  
  .rounded-social-buttons .social-button.youtube {
	background: #bb0000;
  }
  
  .rounded-social-buttons .social-button.youtube:hover, .rounded-social-buttons .social-button.youtube:focus {
	color: #bb0000;
	background: #fefefe;
	border-color: #bb0000;
  }
  
  .rounded-social-buttons .social-button.instagram {
	background: #125688;
  }
  
  .rounded-social-buttons .social-button.instagram:hover, .rounded-social-buttons .social-button.instagram:focus {
	color: #125688;
	background: #fefefe;
	border-color: #125688;
  }
  .copyright{
	  color: white;
  }
  .copyright .fa {
	color: #E90606;
	margin: 0 3px;
	font-size: 15px;
	animation: pound 0.35s infinite alternate;
	-webkit-animation: pound 0.35s infinite alternate;
  }
  
  @-webkit-keyframes pound {
	to {
	  transform: scale(1.1);
	}
  }
  @keyframes pound {
	to {
	  transform: scale(1.1);
	}
  }
  
@media only screen and (max-width: 600px) {
	.logo-auv{
    	border-radius: 31px;
		position: absolute;
		z-index: 1;
		width: 100px;
		height: 50px;
		top: 1%;
		left: 1%;
	}
	.type {
		position: absolute;
		z-index: 1;
		left: 30px;
		top: 15%;
		color: #ffffffcf;
		font-family: Candal;
		font-size: 20px;
	}
	.a-head{
		position: absolute;
		color: #ffffffcf;
		z-index: 1;
		left: 30px;
		text-align: center;
		top: 4%;
		font-size: 35px;
		font-weight: bolder;
		font-family: Candal;
	}
	.arrows{
		display: none;
	}
	.top-video{
		background-color: #ECEFF1 !important;
	}
	.menu{
		display: none !important;
	}
	#about{
		height: 600px;
		width: 100%;
		margin-top: -7px;
	}
	.whoarewe{
		background-image: url(./components/WhoAreWe/w-b1.jpg);
		padding: 20px;
		background-size: cover;
		background-repeat: no-repeat;
		height: 100%;
	}
	#sponsor{
		height: 600px;
	}
	header.header{
		display: none !important;
	}
	.carousel{
		display: block !important;
		margin-top: -5%;
	}
	.domain{
		height: 1400px;
	}
	.te-link{
		margin-top: 0;
	}
	.dim-p{
		font-size: 16px;
	}
	.dim-h4{
		font-size: 18px;
	}
	.z-head{
		font-size: 40px !important;
	}
	.tag-head-v{
		font-size: 30px !important;
	}
	#team{
		height: 500px;
	}
	.team{
		height: 100%;
	}
	.floating-team{
		padding-top: 6%;
		font-size: 60px;
		font-weight: bold;
    opacity: 0.9;
	font-family: Candal;
	color: #111111;
	}
	.t-link{
		font-size: 18px;
	}
	.s-cont{
		display: none;
	}
	
	#top-button {
		font-size: 10px;
		display: inline-block;
		background-color: #0000002b;
		width: 50px;
		height: 50px;
		text-align: center;
		border-radius: 26px;
		position: fixed;
		bottom: 5px;
		right: 5px;
		transition: background-color .3s, opacity .5s, visibility .5s;
		opacity: 0;
		visibility: hidden;
		z-index: 1000;
	}
	.containerr{
		display: none !important;
	}
	.float {
		margin-top: -25px;
		font-size: 20px;
	}
	.zarna-name {
		font-size: 90px;
	}
	.w-p {
		text-align: justify;
		margin-top: -8%;
		font-size: 15px;
	}
	.mob-col{
		padding: 0 !important;
	}
	.w-marg-mob{
		margin-top: -20px;
	}
	.txt-rotate {
		background-color: black;
		padding: 5px;
		border-radius: 20px;
	}
	.t-h{
		background-color: transparent !important;
		padding: 0 !important;
	}
	.mob-wp{
		margin-top: -20px;
	}
	.tag-head{
		font-size: 40px;
		font-weight: bolder;
	}
	.v-find {
		color: white;
		font-size: 17px;
		border: 1px solid white;
		padding: 10px;
		border-radius: 30px;
	}
	#vehicle{
		height: 400px;
	}
	.vehicle{
		height: 100%;
	}
	.floating {
		padding-top: 15%;
		color: white;
		font-size: 30px;
		font-weight: bolder;
		animation-name: floating;
		animation-duration: 2s;
		animation-iteration-count: infinite;
		animation-timing-function: ease-in-out;
	}
	.w-h{
		margin-bottom: 0;
		padding-top: 6%;
	}
	.w-dom {
		border: 2px solid #dddddd5e;
		padding: 8px;
		font-size: 11px;
		background-color: #0000009e;
		border-radius: 30px;
	}
	.dom-cont {
		color: white;
		padding-top: 7%;
		margin-top: 0;
		margin-bottom: 0%;
	}
	.d-head{
		color: white;
		margin: 0 !important;
		padding: 5% !important;
		background-color: #585858;
		border-radius: 0 20px;
	}
	.d-ul{
		list-style-type: disc;
		padding: 0 10px 0 10px;
	
	}
	.d-content{
		padding: 0 10px 0 10px;
	}
	.product {
		display: block !important;
		padding: 0 !important;
		text-align: justify;
		border-radius: 0 22px 20px 20px;
		margin-top: 0 !important;
		margin-bottom: 0 !important;
		width: 280px;
		height: 100%;
		background: white;
		position: relative;
		z-index: 90;
	  }
	  
	  .ribbon-wrapper {
		width: 200px;
		height: 200px;
		overflow: hidden;
		position: absolute;
		top: -3px;
		left: -3px;
	  }
	  
	  .ribbon-wrapper .ribbon {
		box-shadow: 0px 0px 5px 2px #4c4c4c;
		height: 40px;
		color: #333;
		text-align: center;
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		position: relative;
		padding: 7px 0;
		top: 17px;
		left: -62px;
		font-family: 'Raleway', sans-serif;
		font-size: 17px;
		width: 200px;
		background-color: #ebb134;
		color: #fff;
	  }
	h1{
		font-size: 50px;
	}
	h4{
		font-size: 24px;
	}
	.ach-head{
		font-size: 21px;
		text-shadow: 3px 0px 1px white;
		
	}
	.ic-ach {
		text-align: center;
		font-size: 15px;
		padding: 15px 0px !important;
	}
	.ach-cont{
		color: white;
    font-size: 11px;
    text-align: justify;
	}
	.achievement {
		background-image: url(/static/media/back.136ba121.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		height: 980px;
		padding: 4%;
	}
	.shadowbox {
		background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(40, 40, 40, 0.65) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6282828',GradientType=0 );
		opacity: 0.9;
		margin: 0 auto;
		background-color: #252525;
		width: 100%;
		height: 935px;
		border: solid 30px #111111;
		box-shadow: inset 0 0 20px #000000;
		border-style: ridge;
	}
	.footer-logo{
		width: 100%;
	}
	.footer-lname{
		font-size: 20px;
	}
	.footer-lp{
		font-size: 10px;
	}
	.footer-h4{
		font-size: 20px;
	}
	.footer-list li{
		font-size: 18px;
	}
	.rounded-social-buttons .social-button {
		display: inline-block;
		position: relative;
		cursor: pointer;
		width: 2.425rem;
		height: 2.425rem;
		border: 0.125rem solid transparent;
		padding: 0;
		text-decoration: none;
		text-align: center;
		color: #fefefe;
		font-size: 1.25rem;
		font-weight: normal;
		line-height: 2em;
		border-radius: 1.6875rem;
		transition: all 0.5s ease;
		margin-right: 0.50rem;
		margin-bottom: 0.50rem;
	}
	.copyright{
		font-size: 10px;
	}
	.copyright .fa{
		font-size: 10px;
	}
	
}


/* admin */

.go:hover,
.go:focus {
    cursor: pointer;
}

  .notinoti{
	position: fixed;
	left: 0;
	right: 0;
	top:0;
	background-color: #fafafa;
	padding: 0;
	margin: auto;
	overflow-y: auto;
	border-radius: 2px;
	will-change: top, opacity;
	width: 100%;
	height: 100%;
	z-index:999;
	background-position: center top;
	background-size:cover;
	animation: scale-display .3s;
  }

  .display-style{
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    letter-spacing: .01785714em;
    font-size: .930rem;
    font-weight: 500;
    padding: 12px 24px;
    border-radius: 0 24px 24px 0;
	animation: scale-display .3s;
	margin-left: -10px;
}

.hover-effect:hover {
	color:#900C3F;
  }

  .cover_all{
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top:0;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 0;
	margin: auto;
	overflow-y: auto;
	border-radius: 2px;
	will-change: top, opacity;
	width: 100%;
	height: 100%;
	z-index: 999;
	background-position: center top;
	background-size: cover;
  }
  .up{
	width: 60%;
	height: 500px;
	z-index: 999 !important;
	position: absolute !important;
	box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2);
	top: 5%;
	left: 21%;
	background: white;
	border-radius: 10px;
	animation: scale-display .3s;
  }

  .gallery {
	position: relative;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
   }
   .gallery-text{
	   position: absolute;
	   top: 0; right: 0;
	   bottom: 0; left: 0;
	   width: 100%;
	   height: 100%; 
	   text-align: center;
	   background-color: rgba(0, 0, 0, 0.6);
	   -webkit-transition: opacity 0.6s;
	   -moz-transition: opacity 0.6s;
	   transition: opacity 0.6s;
	  vertical-align:middle;
	  line-height:200px;
	   opacity: 1; 
   }

   .gallery-text h3{
	   padding-top: 310px;
	   color: white;
	   display: inline-table;
	  vertical-align:middle;
	  line-height:100%;            
   }
   .line {
    width: 3rem;
    height: 0.1rem;
    background-color: #EA4335;
}