
@import url('https://fonts.googleapis.com/css?family=Cairo|Cinzel|Exo|Exo+2|Orbitron|Play|Poiret+One|Questrial|Quicksand|Rokkitt|Tinos');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');



.card-con{
  width: 100%;
  height: 820px;
}
.login-sign{
  margin-right: 140px;
}


/* ----------------------------------------------Errror Message CSS*/
.reminder{
  margin-left: 540px;
  color: green;
  font-family: 'Cairo', sans-serif;
}
.error-icon{
    margin-top: 200px;
    color: red;
}
.error-div{

}
.error-msg{
margin-top: 220px;
font-family: 'Exo', sans-serif;
color: red;
}

/*------------------------------------End of Error Message*/

form{
    margin-top: 50px;
}
.form-login{
    border: 1px solid #dadada;
    margin-top: 5%;
    padding: 25px;
    box-shadow: 0px 0px 4px 0px rgba(186, 186, 186, 0.75);
    border-radius: 10px;
    background-color: #ffffffd1;
}
.form-signup{
    border: 1px solid #dadada;
    margin-top: 4%;
    padding: 25px;
    box-shadow: 0px 0px 4px 0px rgba(186, 186, 186, 0.75);
    border-radius: 10px;
    background-color: #ffffffdb;
}

.form-con{
    padding:25px;
    margin-top: -15px;
}
.highlight{
    padding: 10px;
    color: white;
    border-radius: 10px 10px 0px 0px;
    font-family: 'Orbitron', sans-serif;
}
.but{
    margin-top:20px;
    text-align: center;
    color:red;
    font-family: 'Exo', sans-serif;
}
.srm{
    height: 70px;
    width: 100px;
}
body{
    background: url(wall.jpg);
}
.nav-cen{
    font-size: 30px;
}
.log{
    font-size: 18px;
    font-family: 'Exo 2', sans-serif;
    color:blue;
}
.sup{
  font-family: 'Play', sans-serif;

}
.reg{
  font-family: 'Orbitron', sans-serif;
}
.logi{
  font-family: 'Poiret One', cursive;
}
.srm-care{
  font-family: 'Cinzel', serif;

  margin-left: 600px;
}
.con{
  font-family: 'Cinzel', serif;
}
.lgout{
  margin-top: 15px;
  margin-right: 0px;
  width: 35px;
  height: 35px;
}
.forgohead{
  text-align: center;
  font-size: 30px;
  font-family: 'Exo 2', sans-serif;
  color:#EB127E;
}
.emails{
  color: red;
}
.ppo{
  color:black;
  font-size: 20px;
  font-family: 'Play', sans-serif;
}



/*--------------------------------------------------------Sections- like Part A Part B etc*/
.align{  /*For the txt field to be aligned at correct position */
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
}
.align4{ /* Alignment for col s4*/
  margin-top: 10px;
  width: 400px;
}
.align6{ /* Alignment for col s4*/
  margin-top: 10px;
  width: 600px;
}
.align3{ /* Alignment for col s3*/
  margin-top: 10px;
  width: 300px;
}
.btnalign{  /* for all the buttons of Part A & Part B want to put into correct position */
  margin-top: 23px;
  margin-bottom: 20px;
  width: 80px;
  margin-left: 25px;
}
.aligncenter{
  text-align: center; /*For all the fonts want to put it in center */
}
.svalign{   /*For the saved and editable data */
  margin-top: 23px;
  margin-bottom: 20px;
  font-family: 'Exo', sans-serif;
}
.grid-of-parts{
  margin-left: 10px;
  margin-right: 10px;
}

.collapsible{
  margin-right: 40px;
  width: 100%;
}
.collapsible-header{
background-color: black;
color: white;
}
.collaphead{
  font-family: 'Play' , sans-serif;
  display: block;
  font-size: 25px;
  line-height: 6px;
  color: #f1ebe5;
  text-shadow: 0 9.36px 3.896px #c4b59d,0 0px 0.2px #fff;
  letter-spacing: 1px;
  margin-left: -80px;

}
.collapsible-body{
  background-color: white;
  color: black;
}


/*---------------------------------input and textareas designs */

  .pure-material-textfield-outlined {
      --pure-material-safari-helper1: rgb(var(--pure-material-primary-rgb, 18, 126, 235));
      position: relative;
      display: inline-block;
      padding-top: 6px;
      font-family: var(--pure-material-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
      font-size: 16px;
      line-height: 1.5;
      overflow: hidden;
  }

  /* Input, Textarea */
  .pure-material-textfield-outlined > input,
  .pure-material-textfield-outlined > textarea {
      box-sizing: border-box;
      margin: 0;
      border: solid 1px; /* Safari */
      border-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
      border-top-color: transparent;
      border-radius: 4px;
      padding: 15px 13px 15px;
      width: 100%;
      height: 100px;
      color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.87);
      background-color: transparent;
      box-shadow: none; /* Firefox */
      font-family: inherit;
      font-size: inherit;
      line-height: inherit;
      caret-color: rgb(var(--pure-material-primary-rgb, 18, 126, 235));
      transition: border 0.2s, box-shadow 0.2s;
  }

  /* Span */
  .pure-material-textfield-outlined > input + span,
  .pure-material-textfield-outlined > textarea + span {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      border-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
      width: 100%;
      max-height: 100%;
      color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
      font-size: 75%;
      line-height: 15px;
      cursor: text;
      transition: color 0.2s, font-size 0.2s, line-height 0.2s;
  }

  /* Corners */
  .pure-material-textfield-outlined > input + span::before,
  .pure-material-textfield-outlined > input + span::after,
  .pure-material-textfield-outlined > textarea + span::before,
  .pure-material-textfield-outlined > textarea + span::after {
      content: "";
      display: block;
      box-sizing: border-box;
      margin-top: 6px;
      border-top: solid 1px;
      border-top-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
      min-width: 10px;
      height: 8px;
      pointer-events: none;
      box-shadow: inset 0 1px transparent;
      transition: border-color 0.2s, box-shadow 0.2s;
  }

  .pure-material-textfield-outlined > input + span::before,
  .pure-material-textfield-outlined > textarea + span::before {
      margin-right: 4px;
      border-left: solid 1px transparent;
      border-radius: 4px 0;
  }

  .pure-material-textfield-outlined > input + span::after,
  .pure-material-textfield-outlined > textarea + span::after {
      flex-grow: 1;
      margin-left: 4px;
      border-right: solid 1px transparent;
      border-radius: 0 4px;
  }

  /* Hover */
  .pure-material-textfield-outlined:hover > input,
  .pure-material-textfield-outlined:hover > textarea {
      border-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.87);
      border-top-color: transparent;
  }

  .pure-material-textfield-outlined:hover > input + span::before,
  .pure-material-textfield-outlined:hover > textarea + span::before,
  .pure-material-textfield-outlined:hover > input + span::after,
  .pure-material-textfield-outlined:hover > textarea + span::after {
      border-top-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.87);
  }

  .pure-material-textfield-outlined:hover > input:not(:focus):placeholder-shown,
  .pure-material-textfield-outlined:hover > textarea:not(:focus):placeholder-shown {
      border-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.87);
  }

  /* Placeholder-shown */
  .pure-material-textfield-outlined > input:not(:focus):placeholder-shown,
  .pure-material-textfield-outlined > textarea:not(:focus):placeholder-shown {
      border-top-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
  }

  .pure-material-textfield-outlined > input:not(:focus):placeholder-shown + span,
  .pure-material-textfield-outlined > textarea:not(:focus):placeholder-shown + span {
      font-size: inherit;
      line-height: 68px;
  }

  .pure-material-textfield-outlined > input:not(:focus):placeholder-shown + span::before,
  .pure-material-textfield-outlined > textarea:not(:focus):placeholder-shown + span::before,
  .pure-material-textfield-outlined > input:not(:focus):placeholder-shown + span::after,
  .pure-material-textfield-outlined > textarea:not(:focus):placeholder-shown + span::after {
      border-top-color: transparent;
  }

  /* Focus */
  .pure-material-textfield-outlined > input:focus,
  .pure-material-textfield-outlined > textarea:focus {
      border-color: rgb(var(--pure-material-primary-rgb, 18, 126, 235));
      border-top-color: transparent;
      box-shadow: inset 1px 0 var(--pure-material-safari-helper1), inset -1px 0 var(--pure-material-safari-helper1), inset 0 -1px var(--pure-material-safari-helper1);
      outline: none;
  }

  .pure-material-textfield-outlined > input:focus + span,
  .pure-material-textfield-outlined > textarea:focus + span {
      color: rgb(var(--pure-material-primary-rgb, 18, 126, 235));
  }

  .pure-material-textfield-outlined > input:focus + span::before,
  .pure-material-textfield-outlined > input:focus + span::after,
  .pure-material-textfield-outlined > textarea:focus + span::before,
  .pure-material-textfield-outlined > textarea:focus + span::after {
      border-top-color: var(--pure-material-safari-helper1) !important;
      box-shadow: inset 0 1px var(--pure-material-safari-helper1);
  }

  /* Disabled */
  .pure-material-textfield-outlined > input:disabled,
  .pure-material-textfield-outlined > input:disabled + span,
  .pure-material-textfield-outlined > textarea:disabled,
  .pure-material-textfield-outlined > textarea:disabled + span {
      border-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38) !important;
      border-top-color: transparent !important;
      color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
      pointer-events: none;
  }

  .pure-material-textfield-outlined > input:disabled + span::before,
  .pure-material-textfield-outlined > input:disabled + span::after,
  .pure-material-textfield-outlined > textarea:disabled + span::before,
  .pure-material-textfield-outlined > textarea:disabled + span::after {
      border-top-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38) !important;
  }

  .pure-material-textfield-outlined > input:disabled:placeholder-shown,
  .pure-material-textfield-outlined > input:disabled:placeholder-shown + span,
  .pure-material-textfield-outlined > textarea:disabled:placeholder-shown,
  .pure-material-textfield-outlined > textarea:disabled:placeholder-shown + span {
      border-top-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38) !important;
  }

  .pure-material-textfield-outlined > input:disabled:placeholder-shown + span::before,
  .pure-material-textfield-outlined > input:disabled:placeholder-shown + span::after,
  .pure-material-textfield-outlined > textarea:disabled:placeholder-shown + span::before,
  .pure-material-textfield-outlined > textarea:disabled:placeholder-shown + span::after {
      border-top-color: transparent !important;
  }

  /* Faster transition in Safari for less noticable fractional font-size issue */
  @media not all and (min-resolution:.001dpcm) {
      @supports (-webkit-appearance:none) {
          .pure-material-textfield-outlined > input,
          .pure-material-textfield-outlined > input + span,
          .pure-material-textfield-outlined > textarea,
          .pure-material-textfield-outlined > textarea + span,
          .pure-material-textfield-outlined > input + span::before,
          .pure-material-textfield-outlined > input + span::after,
          .pure-material-textfield-outlined > textarea + span::before,
          .pure-material-textfield-outlined > textarea + span::after {
              transition-duration: 0.1s;
          }
      }
  }


/*---------------------------------------------End of Input and textareas design*/


.headings{
  width: 100%;
  font-size: 20px;
}
.colsp{
  margin-left: 50px;
}
.spanh{
  height: 50px;
  width: 100%;
  font-family: 'Orbitron', sans-serif;
}
.area{
  width: auto;
  height: 500px;
  overflow: hidden;
}
.td{
  font-family: 'Quicksand', sans-serif;
}
.ft{
  color: #C4153F;
}
.remove{
  margin-top: 45px;
}
.subm{
  margin-right: 60px;
}
.uploadalignB{
 margin-left: 70px;
 margin-bottom: 20px;
}
.dropdown-content {
  background-color: #FFFFFF;
  margin: 0;
  display: none;
  min-width: 300px; /* Changed this to accomodate content width */
  max-height: auto;
	margin-left: -1px; /* Add this to keep dropdown in line with edge of navbar */
  overflow: hidden; /* Changed this from overflow-y:auto; to overflow:hidden; */
  opacity: 0;
  position: absolute;
  white-space: nowrap;
  z-index: 1;
  will-change: width, height;
}
.move{
  color: white;
  margin-top: 10px;
  margin-left: 10px;

}
.arro{
  margin-top: 0px;
}
.go-to-alt{
  margin-left: 10px;
  font-family: 'Exo', sans-serif;
}


.drop{
  margin-top: 25px;
}

/*-------------------------------------------------------------------------------Home-Page Design */
.imgf{
    height: 550px;
    margin-top: 60px;
    margin-left: 70px;
}
.fstyle{
    background-color: #455a64;
    color: white;
    margin-top: 65px;
    padding-top: 50px;
    padding-bottom: 102px;
    margin-left: 20px;
    border-radius: 10px;
    width: 100%;


}
.title-of-home{
  margin-top: -10px;
}
.ework_name{
  font-family: 'Play' , sans-serif;
  display: block;
  font-size: 50px;
  line-height: 6px;
  color: #E7204F;
  text-shadow: 0 9.36px 3.896px #c4b59d,0 0px 0.2px #fff;
  letter-spacing: 1px;
}
.fpara{
    padding: 0 80px;
    font-size: 20px;
    font-family: 'Exo 2' , sans-serif;
}
.fprivacy{
    color: white;
    font-size: 15px;
    margin-top: 50px;
}
.mheader{
    color: black;

}
.mcont{
    color: black;
  }
  @-webkit-keyframes blinker {
    from {opacity: 1.0;}
    to {opacity: 0.0;}
  }
  .blink{
  	text-decoration: blink;
  	-webkit-animation-name: blinker;
  	-webkit-animation-duration: 0.6s;
  	-webkit-animation-iteration-count:infinite;
  	-webkit-animation-timing-function:ease-in-out;
  	-webkit-animation-direction: alternate;
  }
 /*-----------------------------------------------------------------End of Home Page Design */


  /*Nav bar style */

.men{
  margin-left: 10px;
  margin-right: 20px;
}





  /* Online- Offline*/
  .online{
    margin-top: 5px;
    margin-right: 10px;
    background-color: green;
    color: white;
    height: 20px;
    width: 80px;
  }
  .offline{
    margin-top: 5px;
    margin-right: 10px;
    background-color: red;
    color: white;
    height: 20px;
    width: 80px;
  }


/*--------------------------------------------Home2 CSS---------------------------------------- */






  /*-----------------------------------------Profile Related CSS */


                      /*----------------After 1 Login Profile Page------------------------- */

                      .index_1_prof{
                          border: 1px solid #dadada;
                          margin-top: 4%;

                          padding: 25px;
                          box-shadow: 0px 0px 4px 0px rgba(186, 186, 186, 0.75);
                          border-radius: 10px;
                          background-color: #ffffffdb;
                      }
                      .tabh{
                        text-align: center;
                        padding: 20px 15px;
                        font-weight: 500;
                        font-size: 15px;
                        color: black;
                        text-transform: uppercase;
                      }
                      .tablehead{
                        margin-left: 10px;
                        margin-right: 10px;
                        border-top: black;
                        height: auto;
                        border-color: black;
                        border-style: solid;
                        border-width: -100px;

                      }
