/* *{
    transition: all 0.6s;
}

html {
    height: 100%;
}

body{
    font-family: 'Lato', sans-serif;
    color: #888;
    margin: 0;
} */


.button-home{
    background-color: #888;
    color: white;
    padding: 10px;
    border: 0;
    border-radius: 20px
}
.button-home:hover{
    transition: all 0.6s;
    transform: scale(1.3);
    cursor: pointer;

}
.img{
    margin-top: 10%;
    text-align: center;
}
.image{
    height: 200px;
    widows: 200px;
}

.fof{
    text-align: center;
}

.fof h1{
	  font-size: 50px;
	  display: inline-block;
	  padding-right: 12px;
	  animation: type .5s alternate infinite;
}

@keyframes type{
	  from{box-shadow: inset -3px 0px 0px #888;}
	  to{box-shadow: inset -3px 0px 0px transparent;}
}