@import url('https://fonts.googleapis.com/css?family=Cairo|Cinzel|Exo|Exo+2|Orbitron|Play|Poiret+One|Questrial|Quicksand|Rokkitt|Tinos');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
  margin: 0;
  padding: 0;
  font-family: 'Exo', sans-serif;
}
.over{
  z-index: 999;
}

.droppp {
  position: relative;
}
.droppp:hover,
.droppp:focus {
    cursor: pointer;
}
.droppp ul {
  width: 220px;
  position: absolute;
  right: -7px;
  top: 4.2em;
  z-index: 999;
  border-radius: 25px;
  background-color: white;
  transition: all 0.3s ease;
  -webkit-transform: scale(30);
          transform: scale(0);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 8px 0 rgba(0, 0, 0, 0.12);
}
.droppp ul li {
  display: block;
  width: 100%;
  height: 50px;
}
.droppp ul li a {
  color: black;
  width: 100%;
  display: inline-block;
  white-space: pre;
  box-sizing: border-box;
  height: 50px;
  border-radius: 25px;
}
.droppp ul li a:hover {
  background: #ebebeb;
  color: black;
}
.droppp:hover ul {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.login-sign{
  margin-right: 140px;
}

/*------------------------------------End of Error Message*/
.form-con{
    padding:25px;
    margin-top: -15px;
}
.form-signup{
    border: 1px solid #dadada;
    margin-top: 4%;
    padding: 25px;
    box-shadow: 0px 0px 4px 0px rgba(186, 186, 186, 0.75);
    border-radius: 10px;
    background-color: #ffffffdb;
}
.highlight{
    padding: 8px;
    color: white;
    border-radius: 10px 10px 0px 0px;
    font-family: 'Orbitron', sans-serif;
}
.but{
    margin-top:20px;
    text-align: center;
    color:brown;
    font-family: 'Exo', sans-serif;
}
.srm{
    height: 70px;
    width: 100px;
}
.logout{
  height: 40px;
  width: 50px;
  margin-top: 15px;
}
.log{
    font-size: 18px;
    font-family: 'Exo 2', sans-serif;
    color:blue;
}
.con{
  font-family: 'Cinzel', serif;
  font-size: 30px;
}
.forgohead{
  font-size: 30px;
  font-family: 'Exo 2', sans-serif;
  color:#EB127E;
}
.ppo{
  color:black;
  font-size: 20px;
  font-family: 'Play', sans-serif;
}
.alignfull{
  width: 100%;
  margin-top: 10px;
}
.collapsible-header{
  border-radius: 10px;
  background:linear-gradient(to bottom, #ff99cc 0%, #000066 90%);
  color: yellow;
}
.collapsible li{
  border-radius: 10px;
}

.collapsible-body{
  border-radius: 10px;
  background-color: white;
  color: black;
}
.men{
  margin-left: 10px;
  margin-right: 20px;
}

/*---------------------------------input and textareas designs */

  .pure-material-textfield-outlined {
      --pure-material-safari-helper1: rgb(var(--pure-material-primary-rgb, 18, 126, 235));
      position: relative;
      display: inline-block;
      padding-top: 6px;
      font-family: var(--pure-material-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
      font-size: 16px;
      line-height: 1.5;
      overflow: hidden;
  }

  /* Input, Textarea */
  .pure-material-textfield-outlined > input,
  .pure-material-textfield-outlined > textarea {
      box-sizing: border-box;
      margin: 0;
      border: solid 1px; /* Safari */
      border-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
      border-top-color: transparent;
      border-radius: 4px;
      padding: 15px 13px 15px;
      width: 100%;
      height: 100px;
      color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.87);
      background-color: transparent;
      box-shadow: none; /* Firefox */
      font-family: inherit;
      font-size: inherit;
      line-height: inherit;
      caret-color: rgb(var(--pure-material-primary-rgb, 18, 126, 235));
      transition: border 0.2s, box-shadow 0.2s;
  }

  /* Span */
  .pure-material-textfield-outlined > input + span,
  .pure-material-textfield-outlined > textarea + span {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      border-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
      width: 100%;
      max-height: 100%;
      color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
      font-size: 75%;
      line-height: 15px;
      cursor: text;
      transition: color 0.2s, font-size 0.2s, line-height 0.2s;
  }

  /* Corners */
  .pure-material-textfield-outlined > input + span::before,
  .pure-material-textfield-outlined > input + span::after,
  .pure-material-textfield-outlined > textarea + span::before,
  .pure-material-textfield-outlined > textarea + span::after {
      content: "";
      display: block;
      box-sizing: border-box;
      margin-top: 6px;
      border-top: solid 1px;
      border-top-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
      min-width: 10px;
      height: 8px;
      pointer-events: none;
      box-shadow: inset 0 1px transparent;
      transition: border-color 0.2s, box-shadow 0.2s;
  }

  .pure-material-textfield-outlined > input + span::before,
  .pure-material-textfield-outlined > textarea + span::before {
      margin-right: 4px;
      border-left: solid 1px transparent;
      border-radius: 4px 0;
  }

  .pure-material-textfield-outlined > input + span::after,
  .pure-material-textfield-outlined > textarea + span::after {
      flex-grow: 1;
      margin-left: 4px;
      border-right: solid 1px transparent;
      border-radius: 0 4px;
  }

  /* Hover */
  .pure-material-textfield-outlined:hover > input,
  .pure-material-textfield-outlined:hover > textarea {
      border-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.87);
      border-top-color: transparent;
  }

  .pure-material-textfield-outlined:hover > input + span::before,
  .pure-material-textfield-outlined:hover > textarea + span::before,
  .pure-material-textfield-outlined:hover > input + span::after,
  .pure-material-textfield-outlined:hover > textarea + span::after {
      border-top-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.87);
  }

  .pure-material-textfield-outlined:hover > input:not(:focus):placeholder-shown,
  .pure-material-textfield-outlined:hover > textarea:not(:focus):placeholder-shown {
      border-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.87);
  }

  /* Placeholder-shown */
  .pure-material-textfield-outlined > input:not(:focus):placeholder-shown,
  .pure-material-textfield-outlined > textarea:not(:focus):placeholder-shown {
      border-top-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
  }

  .pure-material-textfield-outlined > input:not(:focus):placeholder-shown + span,
  .pure-material-textfield-outlined > textarea:not(:focus):placeholder-shown + span {
      font-size: inherit;
      line-height: 68px;
  }

  .pure-material-textfield-outlined > input:not(:focus):placeholder-shown + span::before,
  .pure-material-textfield-outlined > textarea:not(:focus):placeholder-shown + span::before,
  .pure-material-textfield-outlined > input:not(:focus):placeholder-shown + span::after,
  .pure-material-textfield-outlined > textarea:not(:focus):placeholder-shown + span::after {
      border-top-color: transparent;
  }

  /* Focus */
  .pure-material-textfield-outlined > input:focus,
  .pure-material-textfield-outlined > textarea:focus {
      border-color: rgb(var(--pure-material-primary-rgb, 18, 126, 235));
      border-top-color: transparent;
      box-shadow: inset 1px 0 var(--pure-material-safari-helper1), inset -1px 0 var(--pure-material-safari-helper1), inset 0 -1px var(--pure-material-safari-helper1);
      outline: none;
  }

  .pure-material-textfield-outlined > input:focus + span,
  .pure-material-textfield-outlined > textarea:focus + span {
      color: rgb(var(--pure-material-primary-rgb, 18, 126, 235));
  }

  .pure-material-textfield-outlined > input:focus + span::before,
  .pure-material-textfield-outlined > input:focus + span::after,
  .pure-material-textfield-outlined > textarea:focus + span::before,
  .pure-material-textfield-outlined > textarea:focus + span::after {
      border-top-color: var(--pure-material-safari-helper1) !important;
      box-shadow: inset 0 1px var(--pure-material-safari-helper1);
  }

  /* Disabled */
  .pure-material-textfield-outlined > input:disabled,
  .pure-material-textfield-outlined > input:disabled + span,
  .pure-material-textfield-outlined > textarea:disabled,
  .pure-material-textfield-outlined > textarea:disabled + span {
      border-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38) !important;
      border-top-color: transparent !important;
      color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
      pointer-events: none;
  }

  .pure-material-textfield-outlined > input:disabled + span::before,
  .pure-material-textfield-outlined > input:disabled + span::after,
  .pure-material-textfield-outlined > textarea:disabled + span::before,
  .pure-material-textfield-outlined > textarea:disabled + span::after {
      border-top-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38) !important;
  }

  .pure-material-textfield-outlined > input:disabled:placeholder-shown,
  .pure-material-textfield-outlined > input:disabled:placeholder-shown + span,
  .pure-material-textfield-outlined > textarea:disabled:placeholder-shown,
  .pure-material-textfield-outlined > textarea:disabled:placeholder-shown + span {
      border-top-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38) !important;
  }

  .pure-material-textfield-outlined > input:disabled:placeholder-shown + span::before,
  .pure-material-textfield-outlined > input:disabled:placeholder-shown + span::after,
  .pure-material-textfield-outlined > textarea:disabled:placeholder-shown + span::before,
  .pure-material-textfield-outlined > textarea:disabled:placeholder-shown + span::after {
      border-top-color: transparent !important;
  }
  @media not all and (min-resolution:.001dpcm) {
      @supports (-webkit-appearance:none) {
          .pure-material-textfield-outlined > input,
          .pure-material-textfield-outlined > input + span,
          .pure-material-textfield-outlined > textarea,
          .pure-material-textfield-outlined > textarea + span,
          .pure-material-textfield-outlined > input + span::before,
          .pure-material-textfield-outlined > input + span::after,
          .pure-material-textfield-outlined > textarea + span::before,
          .pure-material-textfield-outlined > textarea + span::after {
              transition-duration: 0.1s;
          }
      }
  }


/*---------------------------------------------End of Input and textareas design*/
.headings{
  width: 100%;
  font-size: 20px;
}
.colsp{
  margin-left: 50px;
}
.spanh{
  height: 50px;
  width: 100%;
  font-family: 'Orbitron', sans-serif;
}
.area{
  width: auto;
  height: 500px;
  overflow: hidden;
}
.remove{
  margin-top: 45px;
}
.subm{
  margin-right: 60px;
}
.uploadalignB{
 margin-left: 70px;
 margin-bottom: 20px;
}
.dropdown-content {
  background-color: #FFFFFF;
  margin: 0;
  display: none;
  min-width: 300px; /* Changed this to accomodate content width */
  max-height: auto;
	margin-left: -1px; /* Add this to keep dropdown in line with edge of navbar */
  overflow: hidden; /* Changed this from overflow-y:auto; to overflow:hidden; */
  opacity: 0;
  position: absolute;
  white-space: nowrap;
  z-index: 1;
  will-change: width, height;
}
.move{
  color: white;
  margin-top: 10px;
  margin-left: 10px;

}
.drop{
  margin-top: 25px;
}

/*-------------------------------------------------------------------------------Home-Page Design */
.imgf{
    height: 482px;
    margin-top: 30px;
    margin-left: 70px;
}
.fstyle{
    background-color: #455a64;
    color: white;
    margin-top: 30px;
    padding-top: 50px;
    padding-bottom: 102px;
    border-radius: 10px;
    width: 100%;
}

.ework_name{
  font-family: 'Play' , sans-serif;
  display: block;
  font-size: 50px;
  line-height: 6px;
  color: #E7204F;

  letter-spacing: 1px;
}
.fpara{
    padding: 0 80px;
    font-size: 20px;
}
.fprivacy{
    color: white;
    font-size: 15px;
    margin-top: 50px;
}
 /*-----------------------------------------------------------------End of Home Page Design */
  /* Online- Offline*/
  .online{
    margin-top: 5px;
    margin-right: 10px;
    background-color: green;
    color: white;
    height: 20px;
    width: 80px;
  }
  .offline{
    margin-top: 5px;
    margin-right: 10px;
    background-color: red;
    color: white;
    height: 20px;
    width: 80px;
  }


  /*-----------------------------------------Profile Related CSS */


                      /*----------------After 1 Login Profile Page------------------------- */



.proftitle{
  display: block;
  color: #E7204F;
  letter-spacing: 1px;
}
.prof-heading{
  font-family: 'Orbitron', sans-serif;
  padding-top: 10px;
  height: 50px
}
/*----------------------------------------------------------------End of 1 Page wala Login */

/*-----------------------------------------Start of Fix Profile Page-------------------------------- */

.tcr{
  display: block;
  line-height: 6px;
  color: blue;
  letter-spacing: 1px;
  font-size: 15px;
}
.prof-submit{
  margin-bottom: 20px;
  margin-right: 20px;

}
/*--------------------------------End of Fixx Profile CSS-------------------------------------------*/

/*---------------------------------------------------------------------------Scroll to the Top--------------------------------------*/

.up {
  background-color: brown;
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  border-radius: 5px;
  border: none;
  z-index: 10;
}
.aroo {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -11px;
  margin-left: -11px;
}
/*--------------------------------------Scroll To Top Ends---------------------------------------------------------- */




/*--------------------------------------Time Table CSS------------------------------------------------- */
.time-div{
  padding: 20px;
  background-color: #E7F7F5;

}
.day-order-day{
  font-family: 'Play' , sans-serif;
  color: blue;
  text-shadow: 0 9.36px 3.896px #c4b59d,0 0px 0.2px #fff;
  letter-spacing: 1px;
  font-size: 14px;
  text-transform: uppercase;
}
.def-reg{
  font-size: 30px;
  font-family: 'Play' , sans-serif;
  margin-top: 140px;
}
.inter-drop{
  font-size: 20px;
  font-family: 'Play' , sans-serif;
  margin-bottom: 20px;
}
.btn-of-submit-at-time{
margin-bottom: 8px;
}
.free-head{
  font-family: 'Exo 2' , sans-serif;
  color: green;
}
.date{
  font-family: 'Play' , sans-serif;
  font-size: 15px;
  color: red;
}
.day_order{
  margin-top: 150px;
  font-size: 30px;
  font-family: 'Orbitron', sans-serif;
  color: #900C3F;
}

.reset-pass-box{
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 170px;
}
.card-reset{
  height: 220px;
}
.btn-reset{
  margin-left: 200px;
}
.ok_ok{
  color: red;
}
.modal{
  border-radius: 10px;
}

.mobmodal{
  top:  0;
  position: fixed;
  left: 0;
  right: 0;
  margin-bottom:120px;
  background-color: #fafafa;
  padding: 0;
  margin: auto;
  overflow-y: auto;
  border-radius: 2px;
  will-change: top, opacity;
  width: 95%;
  height: 100%;
  z-index:999;
  background-position: center top;
  background-size:cover;
  -webkit-box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2);
    box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2);
}
.modal-password{
  z-index: 22;
  top:  0;
  height: auto;
  margin-top:270px;
  background-position: center top;
  background-size:cover;

}
.instructionmodal{
    z-index: 50; /* Overlay effect: positioned over other containers */
    position: fixed; /* Fix position on the top-left corner*/
    overflow: auto; /* Enable scroll if needed */
}
.float_cancel{
  z-index: 25;
  top: 0;
}
.go:hover,
.go:focus {
    cursor: pointer;
}
/* -----------------------------------------------------Master TimeTable--------------------------------------------*/
.masterprog{
  background-color: white;
  border-right: 1px solid;
  border-left: 1px solid;
  border-bottom: 1px solid;
  border-top: 1px solid;
}
.over{
  z-index: 99;
}

.notinoti{
  position: fixed;
  left: 0;
  right: 0;
  top:0;
  background-color: #fafafa;
  padding: 0;
  margin: auto;
  overflow-y: auto;
  border-radius: 2px;
  will-change: top, opacity;
  width: 100%;
  height: 100%;
  z-index:999;
  background-position: center top;
  background-size:cover;
  animation: scale-display .3s;
}

@keyframes scale-display {
	0% {
		opacity: 0;
		transform: scale(0);
    -webkit-transform: scale(0);
	}

	100% {
		opacity: 1;
		transform: scale(1);
    -webkit-transform: scale(1);
	}
}

.notinoti a{
  color:black;
}
.cover{
background-color: rgba(0,0,0,0.5);
width:100%;
height: 100%;
position: fixed;
left: 0;
right: 0;
padding: 0;
margin: auto;
z-index:999;
background-position: center top;
background-size:cover;
}

.notification-number {
  position: absolute;
  right: 20%;
  top: 0px;
  z-index: 99;
  background: #cc2311;
  border-radius: 50%;
  padding: 5px;
  height: 21px;
  width: 20px;
  text-align: center;
  font-size: 11px;
  line-height: 10px;
  color: #FFF;
}
.dig{
  position: fixed;
  left: 0;
  right: 0;
  padding: 0;
  margin: auto;
  overflow-y: auto;
  z-index:400;
}
.snav
{
  left: 0;
  right: 0;
  color:white;
  padding: 0;
  margin: auto;
  overflow-y: auto;
  width: 150px;
  height: 100%;
  z-index:999;
  background-position: center top;
}

.active-pressed{
  border: 1px solid #dadada;
  border-radius: 50px;
  background:#F11AB3;
  color: white;
}
