html,
body,
div#root {
  margin: 0;
  padding: 0;
}

div#root {
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.mhead{
  font-size: 12px;
  text-align: center;
}

.table{
  /* margin-top: -2%; */
    margin-bottom: 3%;
}
table{
  font-size: 10px;
}
.contains{
  margin-bottom: 2%;
}
.td-ch{
  padding: 1px !important;
}
.gen{
  font-size: 10px;
}

.table-head{
  font-size:10px;
  margin-bottom: 0px;
}

.def{
  margin-bottom: 0px;
}

.table-content{
  font-size: 10px;
}

.htitle{
  font-size: 16px;
  margin-top: -40px;
}
.wat{
  font-size: 8px;
}

.logo{
  margin-top: -20px;
  height: 50px;
  width: 80px;
}

p{
  font-size: 15px;
}

section.pdf-body {
  padding: 8px;
  height: 100%;
  margin: 8px;
  
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.flex {
  /* flex: 1 1 auto; */
  margin-top: -10px;
  font-size: 20px;
}

input,
textarea {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 8px;
  margin: 4px;
}

section.header-bar {
  padding: 16px;
  background-color: #eee;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

section.header-bar .header {
  font-size: 1.2em;
}

section.pdf-toolbar {
  padding: 16px;
}

section.pdf-toolbar button {
  background-color: white;
  border: 1px solid #555;
  padding: 8px;
  border-radius: 3px;
  cursor: pointer;
}

section.pdf-toolbar button:hover,
section.pdf-toolbar button:focus {
  border: 1px solid #333;
  background-color: #eee;
}

.profile-image{
  height: 50px;
  width: 50px;
}