
.form-signup{
    margin-top: 9%;
}
.notinoti{
  animation: scale-display .3s;
}

.carousel-h{
	height: 450px;
	/* background-image: url(./components/Home/c1.jpg); */
}

.tabs-wrapper {
	min-height: 48px;
}
.tabs-wrapper .tabs-fixed {
	position: fixed;
	width: 100%;
	top: 0px;
}
#myBtn {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	font-size: 18px;
	border: none;
	outline: none;
	background-color: red;
	color: white;
	cursor: pointer;
	padding: 15px;
	border-radius: 4px;
  }
  #myBtn:hover {
	background-color: #555;
  }
.tabs {
	transition: background-color 0.2s linear;
}
@keyframes scale-display {
	0% {
		opacity: 0;
		transform: scale(0);
    -webkit-transform: scale(0);
	}

	100% {
		opacity: 1;
		transform: scale(1);
    -webkit-transform: scale(1);
	}
}