@import url('https://fonts.googleapis.com/css?family=Exo+2');
body{
  font-family: 'Exo 2', sans-serif;
}
form{
    margin-top: 50px;
}
.form-login{
    border: 1px solid #dadada;
    margin-top: 5%;
    padding: 25px;
    box-shadow: 0px 0px 4px 0px rgba(186, 186, 186, 0.75);
    border-radius: 10px;
    background-color: #ffffffd1;
}
.form-signup{
    border: 1px solid #dadada;
    margin-top: 4%;
    padding: 25px;
    box-shadow: 0px 0px 4px 0px rgba(186, 186, 186, 0.75);
    border-radius: 10px;
    background-color: #ffffffdb;
}

.form-con{
    padding:25px;
    margin-top: -15px;
}
.highlight{
    padding: 10px;
    color: white;
    border-radius: 10px 10px 0px 0px;
}
.but{
    margin-top:20px;
    text-align: center;
}
.srm{
    height: 70px;
    width: 120px;
}

.nav-cen{
    font-size: 30px;
}
.log{
    font-size: 18px;
    font-family: 'Exo 2', sans-serif;
    color: #303841;
}
.wlc{
  text-align: center;
}
